In [51]:
# Imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

# Win Loss Record

This data set contains the historical win loss records for each NBA team beginning with the 1999-2000 season.

In [52]:
# Bring in NBA Records CSV
nba_records_csv = Path('../Kevin_Files/Win_Loss.csv')
# Read csv into a pandas Dataframe
nba_records = pd.read_csv(nba_records_csv)
nba_records['Season Start'] = ''
nba_records['Season End'] = ''
nba_records.head()

    Season               Team  GP   W   L   WIN% Season Start Season End
0  2019-20      Atlanta Hawks  67  20  47  0.299
1  2019-20     Boston Celtics  72  48  24  0.667
2  2019-20      Brooklyn Nets  72  35  37  0.486
3  2019-20  Charlotte Hornets  65  23  42  0.354
4  2019-20      Chicago Bulls  65  22  43  0.338

In [53]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
nba_records['Season Start'] = nba_records['Season'].str[:4]
nba_records['Season Start'] = nba_records['Season Start'].astype(int)
# Using the start year find the end year
nba_records['Season End'] = nba_records['Season Start'] +1
nba_records.head()

    Season               Team  GP   W   L   WIN%  Season Start  Season End
0  2019-20      Atlanta Hawks  67  20  47  0.299          2019        2020
1  2019-20     Boston Celtics  72  48  24  0.667          2019        2020
2  2019-20      Brooklyn Nets  72  35  37  0.486          2019        2020
3  2019-20  Charlotte Hornets  65  23  42  0.354          2019        2020
4  2019-20      Chicago Bulls  65  22  43  0.338          2019        2020

In [54]:
# Drop the Season column
nba_records = nba_records.drop(['Season'],axis=1)
nba_records = nba_records.sort_values(by='Team')
nba_records.head()

              Team  GP   W   L   WIN%  Season Start  Season End
0    Atlanta Hawks  67  20  47  0.299          2019        2020
119  Atlanta Hawks  82  43  39  0.524          2016        2017
120  Atlanta Hawks  82  48  34  0.585          2015        2016
479  Atlanta Hawks  82  13  69  0.159          2004        2005
150  Atlanta Hawks  82  60  22  0.732          2014        2015

In [55]:
# Rearrange the columns in the dataframe
nba_records = nba_records[['Season Start','Season End','Team','GP','W','L','WIN%']]
nba_records.head()

     Season Start  Season End           Team  GP   W   L   WIN%
0            2019        2020  Atlanta Hawks  67  20  47  0.299
119          2016        2017  Atlanta Hawks  82  43  39  0.524
120          2015        2016  Atlanta Hawks  82  48  34  0.585
479          2004        2005  Atlanta Hawks  82  13  69  0.159
150          2014        2015  Atlanta Hawks  82  60  22  0.732

In [56]:
# Count the nulls in the data
nba_records.isnull().sum()

Season Start    0
Season End      0
Team            0
GP              0
W               0
L               0
WIN%            0
dtype: int64

In [57]:
# Filter dataframe to be inclusive of only the 2008-09 season through the 2017-18 season
nba_records = nba_records[(nba_records['Season Start'] >= 2008) & (nba_records['Season End'] <= 2018)]
nba_records.reset_index(drop=True,inplace=True)
nba_records.head()

   Season Start  Season End           Team  GP   W   L   WIN%
0          2016        2017  Atlanta Hawks  82  43  39  0.524
1          2015        2016  Atlanta Hawks  82  48  34  0.585
2          2014        2015  Atlanta Hawks  82  60  22  0.732
3          2008        2009  Atlanta Hawks  82  47  35  0.573
4          2013        2014  Atlanta Hawks  82  38  44  0.463

# NBA Salaries
This csv file contains the historical salary spend for each NBA team beginning in the 2008 - 2009 season. This information is both inclusive and exclusive of inflation.

In [58]:
# Bring in NBA Salary Information
nba_salary_csv = Path('../nba_salaries.csv')
# Read CSV into a Pandas Dataframe
nba_salaries = pd.read_csv(nba_salary_csv)
nba_salaries = nba_salaries.rename(columns={'Year':'Season'})
nba_salaries['Season Start'] = ''
nba_salaries['Season End'] = ''
nba_salaries.head()

,Season,Team,Salary,Salary w/ Inflation,Season Start,Season End
0,2008/2009,New York,"$96,643,646","$113,130,233",,
1,2008/2009,Dallas,"$95,045,559","$111,259,524",,
2,2008/2009,Cleveland,"$91,298,233","$106,872,938",,
3,2008/2009,Portland,"$80,260,059","$93,951,741",,
4,2008/2009,Boston,"$79,188,973","$92,697,938",,

In [59]:
# Formatting the Seasons column to match the syntax in the nba_record dataframe
old_seasons = ['2008/2009','2009/2010','2010/2011','2011/2012','2012/2013','2013/2014','2014/2015','2015/2016','2016/2017','2017/2018']
new_seasons = ['2008-09','2009-10','2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18']
nba_salaries['Season'] = nba_salaries['Season'].replace(old_seasons,new_seasons)
nba_salaries.head()

,Season,Team,Salary,Salary w/ Inflation,Season Start,Season End
0,2008-09,New York,"$96,643,646","$113,130,233",,
1,2008-09,Dallas,"$95,045,559","$111,259,524",,
2,2008-09,Cleveland,"$91,298,233","$106,872,938",,
3,2008-09,Portland,"$80,260,059","$93,951,741",,
4,2008-09,Boston,"$79,188,973","$92,697,938",,

In [60]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
nba_salaries['Season Start'] = nba_salaries['Season'].str[:4]
nba_salaries['Season Start'] = nba_salaries['Season Start'].astype(int)
# Using the start year find the end year
nba_salaries['Season End'] = nba_salaries['Season Start'] +1
nba_salaries.tail()

,Season,Team,Salary,Salary w/ Inflation,Season Start,Season End
295,2017-18,Brooklyn,"$95,475,397","$99,836,100",2017,2018
296,2017-18,Indiana,"$95,271,736","$99,623,136",2017,2018
297,2017-18,Phoenix,"$92,684,083","$96,917,295",2017,2018
298,2017-18,Chicago,"$90,466,801","$94,598,740",2017,2018
299,2017-18,Dallas,"$85,440,245","$89,342,606",2017,2018

In [61]:
# Drop the Season column
nba_salaries = nba_salaries.drop(['Season'],axis=1)
nba_salaries = nba_salaries.sort_values(by='Team')
nba_salaries.head()

        Team        Salary Salary w/ Inflation  Season Start  Season End
173  Atlanta  $58,998,677         $64,718,790           2013        2014
99   Atlanta  $73,669,912         $83,598,545           2011        2012
255  Atlanta  $96,315,163        $102,359,377           2016        2017
292  Atlanta  $99,992,696        $104,559,718           2017        2018
19   Atlanta  $68,168,841         $79,797,863           2008        2009

In [62]:
# Rearrange the columns in the dataframe
nba_salaries = nba_salaries[['Season Start','Season End','Team','Salary','Salary w/ Inflation']]
nba_salaries.reset_index(drop=True,inplace=True)
nba_salaries.head()

   Season Start  Season End     Team        Salary Salary w/ Inflation
0          2013        2014  Atlanta  $58,998,677         $64,718,790
1          2011        2012  Atlanta  $73,669,912         $83,598,545
2          2016        2017  Atlanta  $96,315,163        $102,359,377
3          2017        2018  Atlanta  $99,992,696        $104,559,718
4          2008        2009  Atlanta  $68,168,841         $79,797,863

# Standardizing the DataFrames
In order to join the two dataframes above, we will have to start by standardizing the team attribute in each.

In [63]:
# Extracting the 'Team' format from nba_salaries dataframe
salary_team = nba_salaries.groupby('Season Start')['Team'].unique()
# Extracting the 'Team' format from nba_records dataframe
record_team = nba_records.groupby('Season Start')['Team'].unique()
#print(record_team[2008])
print(salary_team[2008])
print(record_team[2008])

['Atlanta' 'Boston' 'Brooklyn' 'Charlotte' 'Chicago' 'Cleveland' 'Dallas'
 'Denver' 'Detroit' 'Golden State' 'Houston' 'Indiana' 'LA Clippers'
 'LA Lakers' 'Memphis' 'Miami' 'Milwaukee' 'Minnesota' 'New Orleans'
 'New York' 'Oklahoma City' 'Orlando' 'Philadelphia' 'Phoenix' 'Portland'
 'Sacramento' 'San Antonio' 'Toronto' 'Utah' 'Washington']
['Atlanta Hawks' 'Boston Celtics' 'Charlotte Bobcats' 'Chicago Bulls'
 'Cleveland Cavaliers' 'Dallas Mavericks' 'Denver Nuggets'
 'Detroit Pistons' 'Golden State Warriors' 'Houston Rockets'
 'Indiana Pacers' 'Los Angeles Clippers' 'Los Angeles Lakers'
 'Memphis Grizzlies' 'Miami Heat' 'Milwaukee Bucks'
 'Minnesota Timberwolves' 'New Jersey Nets' 'New Orleans Hornets'
 'New York Knicks' 'Oklahoma City Thunder' 'Orlando Magic'
 'Philadelphia 76ers' 'Phoenix Suns' 'Portland Trail Blazers'
 'Sacramento Kings' 'San Antonio Spurs' 'Toronto Raptors' 'Utah Jazz'
 'Washington Wizards']

In [64]:
# Renmae the all instances of 'New Jersey Nets' to the 'Brooklyn Nets' in the nba_records DataFrame
nba_records = nba_records.replace('New Jersey Nets','Brooklyn Nets')
nba_records = nba_records.sort_values(by='Team')
nba_records.reset_index(drop=True,inplace=True)
nba_records.head()

   Season Start  Season End           Team  GP   W   L   WIN%
0          2016        2017  Atlanta Hawks  82  43  39  0.524
1          2015        2016  Atlanta Hawks  82  48  34  0.585
2          2014        2015  Atlanta Hawks  82  60  22  0.732
3          2008        2009  Atlanta Hawks  82  47  35  0.573
4          2013        2014  Atlanta Hawks  82  38  44  0.463

In [65]:
# Extracting the 'Team' format from nba_salaries dataframe
salary_team = nba_salaries.groupby('Season Start')['Team'].unique()
# Extracting the 'Team' format from nba_records dataframe
record_team = nba_records.groupby('Season Start')['Team'].unique()
#print(record_team[2008])
print(salary_team[2008])
print(record_team[2008])

['Atlanta' 'Boston' 'Brooklyn' 'Charlotte' 'Chicago' 'Cleveland' 'Dallas'
 'Denver' 'Detroit' 'Golden State' 'Houston' 'Indiana' 'LA Clippers'
 'LA Lakers' 'Memphis' 'Miami' 'Milwaukee' 'Minnesota' 'New Orleans'
 'New York' 'Oklahoma City' 'Orlando' 'Philadelphia' 'Phoenix' 'Portland'
 'Sacramento' 'San Antonio' 'Toronto' 'Utah' 'Washington']
['Atlanta Hawks' 'Boston Celtics' 'Brooklyn Nets' 'Charlotte Bobcats'
 'Chicago Bulls' 'Cleveland Cavaliers' 'Dallas Mavericks' 'Denver Nuggets'
 'Detroit Pistons' 'Golden State Warriors' 'Houston Rockets'
 'Indiana Pacers' 'Los Angeles Clippers' 'Los Angeles Lakers'
 'Memphis Grizzlies' 'Miami Heat' 'Milwaukee Bucks'
 'Minnesota Timberwolves' 'New Orleans Hornets' 'New York Knicks'
 'Oklahoma City Thunder' 'Orlando Magic' 'Philadelphia 76ers'
 'Phoenix Suns' 'Portland Trail Blazers' 'Sacramento Kings'
 'San Antonio Spurs' 'Toronto Raptors' 'Utah Jazz' 'Washington Wizards']

In [66]:
# Replace the Team names in nba_salaries with the team attributes from nba_records
nba_salaries['Team'] = nba_salaries['Team'].replace(salary_team[2008],record_team[2008])
nba_salaries.head()

   Season Start  Season End           Team        Salary Salary w/ Inflation
0          2013        2014  Atlanta Hawks  $58,998,677         $64,718,790
1          2011        2012  Atlanta Hawks  $73,669,912         $83,598,545
2          2016        2017  Atlanta Hawks  $96,315,163        $102,359,377
3          2017        2018  Atlanta Hawks  $99,992,696        $104,559,718
4          2008        2009  Atlanta Hawks  $68,168,841         $79,797,863

# Joining the DataFrames
Now that the two dataframes have been standardized in terms of their team attributes, we can now go ahead and join them.

In [67]:
# Sort nba_records dataframe by Team attribute and by Season Start year
nba_records = nba_records.sort_values(by=['Team','Season Start'])
nba_records.reset_index(drop=True,inplace=True)
nba_records

     Season Start  Season End                Team  GP   W   L   WIN%
0            2008        2009       Atlanta Hawks  82  47  35  0.573
1            2009        2010       Atlanta Hawks  82  53  29  0.646
2            2010        2011       Atlanta Hawks  82  44  38  0.537
3            2011        2012       Atlanta Hawks  66  40  26  0.606
4            2012        2013       Atlanta Hawks  82  44  38  0.537
..            ...         ...                 ...  ..  ..  ..    ...
295          2013        2014  Washington Wizards  82  44  38  0.537
296          2014        2015  Washington Wizards  82  46  36  0.561
297          2015        2016  Washington Wizards  82  41  41  0.500
298          2016        2017  Washington Wizards  82  49  33  0.598
299          2017        2018  Washington Wizards  82  43  39  0.524

[300 rows x 7 columns]

In [68]:
# Sort nba_salaries dataframe by Team attribute and by Season Start year
nba_salaries = nba_salaries.sort_values(by=['Team','Season Start'])
nba_salaries.reset_index(drop=True,inplace=True)
nba_salaries

,Season Start,Season End,Team,Salary,Salary w/ Inflation
0,2008,2009,Atlanta Hawks,"$68,168,841","$79,797,863"
1,2009,2010,Atlanta Hawks,"$65,883,642","$78,239,128"
2,2010,2011,Atlanta Hawks,"$71,469,843","$83,988,250"
3,2011,2012,Atlanta Hawks,"$73,669,912","$83,598,545"
4,2012,2013,Atlanta Hawks,"$66,710,178","$74,461,791"
...,...,...,...,...,...
295,2013,2014,Washington Wizards,"$64,698,822","$70,971,580"
296,2014,2015,Washington Wizards,"$73,372,974","$78,852,628"
297,2015,2016,Washington Wizards,"$85,055,155","$91,294,262"
298,2016,2017,Washington Wizards,"$104,016,580","$110,544,093"
299,2017,2018,Washington Wizards,"$123,306,396","$128,938,245"

In [69]:
# Concat the nba_records and nba_salaries dataframes above
salary_record = pd.concat([nba_records,nba_salaries['Salary'],nba_salaries['Salary w/ Inflation']],axis="columns")
salary_record.head()

,Season Start,Season End,Team,GP,W,L,WIN%,Salary,Salary w/ Inflation
0,2008,2009,Atlanta Hawks,82,47,35,0.573,"$68,168,841","$79,797,863"
1,2009,2010,Atlanta Hawks,82,53,29,0.646,"$65,883,642","$78,239,128"
2,2010,2011,Atlanta Hawks,82,44,38,0.537,"$71,469,843","$83,988,250"
3,2011,2012,Atlanta Hawks,66,40,26,0.606,"$73,669,912","$83,598,545"
4,2012,2013,Atlanta Hawks,82,44,38,0.537,"$66,710,178","$74,461,791"

# Offensive Efficiency
This csv file contains offensive statistics over the past 20 years for each NBA team.

In [70]:
# Bring in Offensive Efficiency
offensive_csv = Path('../Kevin_Files/Offensive_Efficiency.csv')
# Read csv into a pandas Dataframe
offensive_df = pd.read_csv(offensive_csv)
offensive_df['Season Start'] = ''
offensive_df['Season End'] = ''
offensive_df.head()

,Season,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,Season Start,Season End
0,2019-20,Atlanta Hawks,111.8,40.6,90.6,44.9,12.0,36.1,33.3,18.5,23.4,79.0,9.9,,
1,2019-20,Boston Celtics,113.7,41.3,89.6,46.1,12.6,34.5,36.4,18.6,23.2,80.1,10.7,,
2,2019-20,Brooklyn Nets,111.8,40.4,90.3,44.8,13.1,38.1,34.3,17.9,24.1,74.5,10.6,,
3,2019-20,Charlotte Hornets,102.9,37.3,85.9,43.4,12.1,34.3,35.2,16.2,21.6,74.8,11.0,,
4,2019-20,Chicago Bulls,106.8,39.6,88.6,44.7,12.2,35.1,34.8,15.5,20.5,75.5,10.5,,

In [71]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
offensive_df['Season Start'] = offensive_df['Season'].str[:4]
offensive_df['Season Start'] = offensive_df['Season Start'].astype(int)
# Using the start year find the end year
offensive_df['Season End'] = offensive_df['Season Start'] +1
offensive_df.head()

,Season,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,Season Start,Season End
0,2019-20,Atlanta Hawks,111.8,40.6,90.6,44.9,12.0,36.1,33.3,18.5,23.4,79.0,9.9,2019,2020
1,2019-20,Boston Celtics,113.7,41.3,89.6,46.1,12.6,34.5,36.4,18.6,23.2,80.1,10.7,2019,2020
2,2019-20,Brooklyn Nets,111.8,40.4,90.3,44.8,13.1,38.1,34.3,17.9,24.1,74.5,10.6,2019,2020
3,2019-20,Charlotte Hornets,102.9,37.3,85.9,43.4,12.1,34.3,35.2,16.2,21.6,74.8,11.0,2019,2020
4,2019-20,Chicago Bulls,106.8,39.6,88.6,44.7,12.2,35.1,34.8,15.5,20.5,75.5,10.5,2019,2020

In [72]:
# Drop Season attribute and rearrange the DataFrame
offensive_df = offensive_df.drop(['Season'],axis=1)
offensive_df = offensive_df[['Season Start','Season End','Team','PTS','FGM','FGA','FG%','3PM','3PA','3P%','FTM',
                            'FTA','FT%','OREB']]
offensive_df.head()

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB
0,2019,2020,Atlanta Hawks,111.8,40.6,90.6,44.9,12.0,36.1,33.3,18.5,23.4,79.0,9.9
1,2019,2020,Boston Celtics,113.7,41.3,89.6,46.1,12.6,34.5,36.4,18.6,23.2,80.1,10.7
2,2019,2020,Brooklyn Nets,111.8,40.4,90.3,44.8,13.1,38.1,34.3,17.9,24.1,74.5,10.6
3,2019,2020,Charlotte Hornets,102.9,37.3,85.9,43.4,12.1,34.3,35.2,16.2,21.6,74.8,11.0
4,2019,2020,Chicago Bulls,106.8,39.6,88.6,44.7,12.2,35.1,34.8,15.5,20.5,75.5,10.5

In [73]:
# Filter dataframe to be inclusive of only the 2008-09 season through the 2017-18 season
offensive_df = offensive_df[(offensive_df['Season Start'] >= 2008) & (offensive_df['Season End'] <= 2018)]
offensive_df.reset_index(drop=True,inplace=True)
offensive_df.head()

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB
0,2017,2018,Atlanta Hawks,103.4,38.2,85.5,44.6,11.2,31.0,36.0,15.8,20.2,78.5,9.1
1,2017,2018,Boston Celtics,104.0,38.3,85.1,45.0,11.5,30.4,37.7,16.0,20.7,77.1,9.4
2,2017,2018,Brooklyn Nets,106.6,38.2,86.8,44.1,12.7,35.7,35.6,17.4,22.6,77.2,9.7
3,2017,2018,Charlotte Hornets,108.2,39.0,86.7,45.0,10.0,27.2,36.9,20.2,27.0,74.7,10.1
4,2017,2018,Chicago Bulls,102.9,38.7,88.8,43.5,11.0,31.1,35.5,14.6,19.2,75.9,9.6

In [74]:
# Sort offensive_df dataframe by Team attribute and by Season Start year
offensive_df = offensive_df.sort_values(by=['Team','Season Start'])
# Reset the Index
offensive_df.reset_index(drop=True,inplace=True)
offensive_df

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB
0,2008,2009,Atlanta Hawks,98.1,36.0,78.7,45.8,7.3,19.9,36.6,18.7,25.4,73.7,10.6
1,2009,2010,Atlanta Hawks,101.7,38.8,82.9,46.8,6.4,17.7,36.0,17.7,23.3,75.9,11.8
2,2010,2011,Atlanta Hawks,95.0,36.2,78.4,46.2,6.1,17.4,35.2,16.4,21.1,77.9,9.3
3,2011,2012,Atlanta Hawks,96.6,36.8,81.0,45.4,7.5,20.2,37.0,15.5,21.0,74.0,9.9
4,2012,2013,Atlanta Hawks,98.0,37.6,81.0,46.4,8.6,23.2,37.1,14.1,19.7,71.5,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2013,2014,Washington Wizards,100.7,38.7,84.4,45.9,7.9,20.8,38.0,15.3,20.9,73.1,10.8
296,2014,2015,Washington Wizards,98.5,38.3,82.8,46.2,6.1,16.8,36.0,15.9,21.4,74.2,10.5
297,2015,2016,Washington Wizards,104.1,39.5,85.8,46.0,8.6,24.2,35.8,16.5,22.5,73.0,9.1
298,2016,2017,Washington Wizards,109.2,41.3,87.0,47.5,9.2,24.8,37.2,17.3,22.1,78.4,10.3
299,2017,2018,Washington Wizards,106.6,39.9,85.6,46.7,9.9,26.5,37.5,16.8,21.8,77.2,10.0

# Defensive Efficiency
This csv file contains defensive statistics over the past 20 years for each NBA team.

In [75]:
# Bring in Defensive Efficiency
defensive_csv = Path('../Kevin_Files/Defensive_Efficiency.csv')
# Read csv into a pandas Dataframe
defensive_df = pd.read_csv(defensive_csv)
defensive_df['Season Start'] = ''
defensive_df['Season End'] = ''
defensive_df.head()

,Season,Team,DREB,REB,AST,TOV,STL,BLK,BLKA,Season Start,Season End
0,2019-20,Atlanta Hawks,33.4,43.3,24.0,16.2,7.8,5.1,6.4,,
1,2019-20,Boston Celtics,35.4,46.1,23.0,13.8,8.3,5.6,5.5,,
2,2019-20,Brooklyn Nets,37.3,47.9,24.5,15.3,6.4,4.5,5.3,,
3,2019-20,Charlotte Hornets,31.8,42.8,23.8,14.6,6.6,4.1,5.0,,
4,2019-20,Chicago Bulls,31.4,41.9,23.2,15.5,10.0,4.1,5.9,,

In [76]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
defensive_df['Season Start'] = defensive_df['Season'].str[:4]
defensive_df['Season Start'] = defensive_df['Season Start'].astype(int)
# Using the start year find the end year
defensive_df['Season End'] = defensive_df['Season Start'] +1
defensive_df.head()

,Season,Team,DREB,REB,AST,TOV,STL,BLK,BLKA,Season Start,Season End
0,2019-20,Atlanta Hawks,33.4,43.3,24.0,16.2,7.8,5.1,6.4,2019,2020
1,2019-20,Boston Celtics,35.4,46.1,23.0,13.8,8.3,5.6,5.5,2019,2020
2,2019-20,Brooklyn Nets,37.3,47.9,24.5,15.3,6.4,4.5,5.3,2019,2020
3,2019-20,Charlotte Hornets,31.8,42.8,23.8,14.6,6.6,4.1,5.0,2019,2020
4,2019-20,Chicago Bulls,31.4,41.9,23.2,15.5,10.0,4.1,5.9,2019,2020

In [77]:
# Drop Season attribute and rearrange the DataFrame
defensive_df = defensive_df.drop(['Season'],axis=1)
defensive_df = defensive_df[['Season Start','Season End','Team','DREB','REB','AST','TOV','STL','BLK','BLKA']]
defensive_df.head()

,Season Start,Season End,Team,DREB,REB,AST,TOV,STL,BLK,BLKA
0,2019,2020,Atlanta Hawks,33.4,43.3,24.0,16.2,7.8,5.1,6.4
1,2019,2020,Boston Celtics,35.4,46.1,23.0,13.8,8.3,5.6,5.5
2,2019,2020,Brooklyn Nets,37.3,47.9,24.5,15.3,6.4,4.5,5.3
3,2019,2020,Charlotte Hornets,31.8,42.8,23.8,14.6,6.6,4.1,5.0
4,2019,2020,Chicago Bulls,31.4,41.9,23.2,15.5,10.0,4.1,5.9

In [78]:
# Filter dataframe to be inclusive of only the 2008-09 season through the 2017-18 season
defensive_df = defensive_df[(defensive_df['Season Start'] >= 2008) & (defensive_df['Season End'] <= 2018)]
defensive_df.reset_index(drop=True,inplace=True)
defensive_df.head()

,Season Start,Season End,Team,DREB,REB,AST,TOV,STL,BLK,BLKA
0,2017,2018,Atlanta Hawks,32.8,41.9,23.7,15.5,7.8,4.2,5.5
1,2017,2018,Boston Celtics,35.1,44.5,22.5,14.0,7.4,4.5,4.4
2,2017,2018,Brooklyn Nets,34.8,44.4,23.7,15.2,6.2,4.8,5.5
3,2017,2018,Charlotte Hornets,35.4,45.5,21.6,12.7,6.8,4.5,4.9
4,2017,2018,Chicago Bulls,35.0,44.7,23.5,14.0,7.6,3.5,5.2

In [79]:
# Sort offensive_df dataframe by Team attribute and by Season Start year
defensive_df = defensive_df.sort_values(by=['Team','Season Start'])
# Reset the Index
defensive_df.reset_index(drop=True,inplace=True)
defensive_df

,Season Start,Season End,Team,DREB,REB,AST,TOV,STL,BLK,BLKA
0,2008,2009,Atlanta Hawks,29.4,40.0,20.2,12.8,7.4,4.6,4.3
1,2009,2010,Atlanta Hawks,29.9,41.7,21.8,12.0,7.2,5.0,4.4
2,2010,2011,Atlanta Hawks,30.0,39.3,22.0,13.6,6.1,4.2,4.2
3,2011,2012,Atlanta Hawks,31.3,41.2,22.4,14.0,8.1,4.6,4.7
4,2012,2013,Atlanta Hawks,31.6,40.9,24.5,14.9,8.1,4.5,4.3
...,...,...,...,...,...,...,...,...,...,...
295,2013,2014,Washington Wizards,31.4,42.2,23.3,14.7,8.1,4.6,3.9
296,2014,2015,Washington Wizards,34.2,44.7,24.0,15.0,7.3,4.6,4.3
297,2015,2016,Washington Wizards,32.8,41.8,24.5,14.5,8.6,3.9,4.3
298,2016,2017,Washington Wizards,32.6,42.9,23.9,14.2,8.5,4.1,4.6
299,2017,2018,Washington Wizards,33.1,43.1,25.2,14.6,7.9,4.3,4.7

# Join the Offensive and Defensive DataFrame

In [80]:
# Concat the nba_records and nba_salaries dataframes above
offensive_defensive_df = pd.concat([offensive_df,defensive_df['DREB'],defensive_df['REB'],defensive_df['AST'],defensive_df['TOV'],defensive_df['STL'],defensive_df['BLK'],defensive_df['BLKA']],axis="columns")
offensive_defensive_df.head()

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA
0,2008,2009,Atlanta Hawks,98.1,36.0,78.7,45.8,7.3,19.9,36.6,...,25.4,73.7,10.6,29.4,40.0,20.2,12.8,7.4,4.6,4.3
1,2009,2010,Atlanta Hawks,101.7,38.8,82.9,46.8,6.4,17.7,36.0,...,23.3,75.9,11.8,29.9,41.7,21.8,12.0,7.2,5.0,4.4
2,2010,2011,Atlanta Hawks,95.0,36.2,78.4,46.2,6.1,17.4,35.2,...,21.1,77.9,9.3,30.0,39.3,22.0,13.6,6.1,4.2,4.2
3,2011,2012,Atlanta Hawks,96.6,36.8,81.0,45.4,7.5,20.2,37.0,...,21.0,74.0,9.9,31.3,41.2,22.4,14.0,8.1,4.6,4.7
4,2012,2013,Atlanta Hawks,98.0,37.6,81.0,46.4,8.6,23.2,37.1,...,19.7,71.5,9.2,31.6,40.9,24.5,14.9,8.1,4.5,4.3

# Join the Combined Offensive & Defensive DataFrame with the Salary DataFrame

In [81]:
salary_game_stats = pd.concat([offensive_defensive_df,nba_salaries['Salary'],nba_salaries['Salary w/ Inflation']],axis='columns')
salary_game_stats.head()

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,Salary,Salary w/ Inflation
0,2008,2009,Atlanta Hawks,98.1,36.0,78.7,45.8,7.3,19.9,36.6,...,10.6,29.4,40.0,20.2,12.8,7.4,4.6,4.3,"$68,168,841","$79,797,863"
1,2009,2010,Atlanta Hawks,101.7,38.8,82.9,46.8,6.4,17.7,36.0,...,11.8,29.9,41.7,21.8,12.0,7.2,5.0,4.4,"$65,883,642","$78,239,128"
2,2010,2011,Atlanta Hawks,95.0,36.2,78.4,46.2,6.1,17.4,35.2,...,9.3,30.0,39.3,22.0,13.6,6.1,4.2,4.2,"$71,469,843","$83,988,250"
3,2011,2012,Atlanta Hawks,96.6,36.8,81.0,45.4,7.5,20.2,37.0,...,9.9,31.3,41.2,22.4,14.0,8.1,4.6,4.7,"$73,669,912","$83,598,545"
4,2012,2013,Atlanta Hawks,98.0,37.6,81.0,46.4,8.6,23.2,37.1,...,9.2,31.6,40.9,24.5,14.9,8.1,4.5,4.3,"$66,710,178","$74,461,791"