In [4]:
# Imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import scipy
%matplotlib inline

Bad key "text.kerning_factor" on line 4 in
C:\Users\lwbak\.conda\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

# Win Loss Record

This data set contains the historical win loss records for each NBA team beginning with the 1999-2000 season.

In [5]:
# Bring in NBA Records CSV
nba_records_csv = Path('Raw_Data/Win_Loss.csv')
# Read csv into a pandas Dataframe
nba_records = pd.read_csv(nba_records_csv)
nba_records['Season Start'] = ''
nba_records['Season End'] = ''
nba_records.head()

    Season               Team  GP   W   L   WIN% Season Start Season End
0  2019-20      Atlanta Hawks  67  20  47  0.299
1  2019-20     Boston Celtics  72  48  24  0.667
2  2019-20      Brooklyn Nets  72  35  37  0.486
3  2019-20  Charlotte Hornets  65  23  42  0.354
4  2019-20      Chicago Bulls  65  22  43  0.338

In [6]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
nba_records['Season Start'] = nba_records['Season'].str[:4]
nba_records['Season Start'] = nba_records['Season Start'].astype(int)
# Using the start year find the end year
nba_records['Season End'] = nba_records['Season Start'] +1
nba_records.head()

    Season               Team  GP   W   L   WIN%  Season Start  Season End
0  2019-20      Atlanta Hawks  67  20  47  0.299          2019        2020
1  2019-20     Boston Celtics  72  48  24  0.667          2019        2020
2  2019-20      Brooklyn Nets  72  35  37  0.486          2019        2020
3  2019-20  Charlotte Hornets  65  23  42  0.354          2019        2020
4  2019-20      Chicago Bulls  65  22  43  0.338          2019        2020

In [7]:
# Drop the Season column
nba_records = nba_records.drop(['Season'],axis=1)
nba_records = nba_records.sort_values(by='Team')
nba_records.head()

              Team  GP   W   L   WIN%  Season Start  Season End
0    Atlanta Hawks  67  20  47  0.299          2019        2020
119  Atlanta Hawks  82  43  39  0.524          2016        2017
120  Atlanta Hawks  82  48  34  0.585          2015        2016
479  Atlanta Hawks  82  13  69  0.159          2004        2005
150  Atlanta Hawks  82  60  22  0.732          2014        2015

In [8]:
# Rearrange the columns in the dataframe
nba_records = nba_records[['Season Start','Season End','Team','GP','W','L','WIN%']]
nba_records.head()

     Season Start  Season End           Team  GP   W   L   WIN%
0            2019        2020  Atlanta Hawks  67  20  47  0.299
119          2016        2017  Atlanta Hawks  82  43  39  0.524
120          2015        2016  Atlanta Hawks  82  48  34  0.585
479          2004        2005  Atlanta Hawks  82  13  69  0.159
150          2014        2015  Atlanta Hawks  82  60  22  0.732

In [9]:
# Count the nulls in the data
nba_records.isnull().sum()

Season Start    0
Season End      0
Team            0
GP              0
W               0
L               0
WIN%            0
dtype: int64

In [10]:
# Filter dataframe to be inclusive of only the 2008-09 season through the 2017-18 season
nba_records = nba_records[(nba_records['Season Start'] >= 2008) & (nba_records['Season End'] <= 2018)]
nba_records.reset_index(drop=True,inplace=True)
nba_records.head()

   Season Start  Season End           Team  GP   W   L   WIN%
0          2016        2017  Atlanta Hawks  82  43  39  0.524
1          2015        2016  Atlanta Hawks  82  48  34  0.585
2          2014        2015  Atlanta Hawks  82  60  22  0.732
3          2008        2009  Atlanta Hawks  82  47  35  0.573
4          2013        2014  Atlanta Hawks  82  38  44  0.463

In [11]:
# Save as a csv
nba_records.to_csv(r'Cleansed_csv/nba_records.csv',index=False,header=True)

# NBA Salaries
This csv file contains the historical salary spend for each NBA team beginning in the 2008 - 2009 season. This information is both inclusive and exclusive of inflation.

In [12]:
# Bring in NBA Salary Information
nba_salary_csv = Path('Raw_Data/nba_salaries.csv')
# Read CSV into a Pandas Dataframe
nba_salaries = pd.read_csv(nba_salary_csv)
nba_salaries = nba_salaries.rename(columns={'Year':'Season'})
nba_salaries['Season Start'] = ''
nba_salaries['Season End'] = ''
nba_salaries.head()

,Season,Team,Salary,Salary w/ Inflation,Season Start,Season End
0,2008/2009,New York,"$96,643,646","$113,130,233",,
1,2008/2009,Dallas,"$95,045,559","$111,259,524",,
2,2008/2009,Cleveland,"$91,298,233","$106,872,938",,
3,2008/2009,Portland,"$80,260,059","$93,951,741",,
4,2008/2009,Boston,"$79,188,973","$92,697,938",,

In [13]:
# Formatting the Seasons column to match the syntax in the nba_record dataframe
old_seasons = ['2008/2009','2009/2010','2010/2011','2011/2012','2012/2013','2013/2014','2014/2015','2015/2016','2016/2017','2017/2018']
new_seasons = ['2008-09','2009-10','2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18']
nba_salaries['Season'] = nba_salaries['Season'].replace(old_seasons,new_seasons)
nba_salaries.head()

,Season,Team,Salary,Salary w/ Inflation,Season Start,Season End
0,2008-09,New York,"$96,643,646","$113,130,233",,
1,2008-09,Dallas,"$95,045,559","$111,259,524",,
2,2008-09,Cleveland,"$91,298,233","$106,872,938",,
3,2008-09,Portland,"$80,260,059","$93,951,741",,
4,2008-09,Boston,"$79,188,973","$92,697,938",,

In [14]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
nba_salaries['Season Start'] = nba_salaries['Season'].str[:4]
nba_salaries['Season Start'] = nba_salaries['Season Start'].astype(int)
# Using the start year find the end year
nba_salaries['Season End'] = nba_salaries['Season Start'] +1
nba_salaries.tail()

,Season,Team,Salary,Salary w/ Inflation,Season Start,Season End
295,2017-18,Brooklyn,"$95,475,397","$99,836,100",2017,2018
296,2017-18,Indiana,"$95,271,736","$99,623,136",2017,2018
297,2017-18,Phoenix,"$92,684,083","$96,917,295",2017,2018
298,2017-18,Chicago,"$90,466,801","$94,598,740",2017,2018
299,2017-18,Dallas,"$85,440,245","$89,342,606",2017,2018

In [15]:
# Drop the Season column
nba_salaries = nba_salaries.drop(['Season'],axis=1)
nba_salaries = nba_salaries.sort_values(by='Team')
nba_salaries.head()

        Team        Salary Salary w/ Inflation  Season Start  Season End
173  Atlanta  $58,998,677         $64,718,790           2013        2014
99   Atlanta  $73,669,912         $83,598,545           2011        2012
255  Atlanta  $96,315,163        $102,359,377           2016        2017
292  Atlanta  $99,992,696        $104,559,718           2017        2018
19   Atlanta  $68,168,841         $79,797,863           2008        2009

In [16]:
# Rearrange the columns in the dataframe
nba_salaries = nba_salaries[['Season Start','Season End','Team','Salary','Salary w/ Inflation']]
nba_salaries.reset_index(drop=True,inplace=True)
nba_salaries.head()

   Season Start  Season End     Team        Salary Salary w/ Inflation
0          2013        2014  Atlanta  $58,998,677         $64,718,790
1          2011        2012  Atlanta  $73,669,912         $83,598,545
2          2016        2017  Atlanta  $96,315,163        $102,359,377
3          2017        2018  Atlanta  $99,992,696        $104,559,718
4          2008        2009  Atlanta  $68,168,841         $79,797,863

In [17]:
# Clean salaries to be readable floats
nba_salaries['Salary'] = nba_salaries['Salary'].str.replace(',', '')
nba_salaries['Salary'] = nba_salaries['Salary'].str.replace('$', '')
nba_salaries['Salary w/ Inflation'] = nba_salaries['Salary w/ Inflation'].str.replace(',', '')
nba_salaries['Salary w/ Inflation'] = nba_salaries['Salary w/ Inflation'].str.replace('$', '')

nba_salaries[['Salary','Salary w/ Inflation']] = nba_salaries[['Salary','Salary w/ Inflation']].astype(float)
nba_salaries.head()

   Season Start  Season End     Team      Salary  Salary w/ Inflation
0          2013        2014  Atlanta  58998677.0           64718790.0
1          2011        2012  Atlanta  73669912.0           83598545.0
2          2016        2017  Atlanta  96315163.0          102359377.0
3          2017        2018  Atlanta  99992696.0          104559718.0
4          2008        2009  Atlanta  68168841.0           79797863.0

In [18]:
# Count the Nulls in the dataframe
nba_salaries.isnull().sum()

Season Start           0
Season End             0
Team                   0
Salary                 0
Salary w/ Inflation    0
dtype: int64

# Standardizing the DataFrames
In order to join the two dataframes above, we will have to start by standardizing the team attribute in each.

In [19]:
# Extracting the 'Team' format from nba_salaries dataframe
salary_team = nba_salaries.groupby('Season Start')['Team'].unique()
# Extracting the 'Team' format from nba_records dataframe
record_team = nba_records.groupby('Season Start')['Team'].unique()
#print(record_team[2008])
print(salary_team[2008])
print(record_team[2008])

['Atlanta' 'Boston' 'Brooklyn' 'Charlotte' 'Chicago' 'Cleveland' 'Dallas'
 'Denver' 'Detroit' 'Golden State' 'Houston' 'Indiana' 'LA Clippers'
 'LA Lakers' 'Memphis' 'Miami' 'Milwaukee' 'Minnesota' 'New Orleans'
 'New York' 'Oklahoma City' 'Orlando' 'Philadelphia' 'Phoenix' 'Portland'
 'Sacramento' 'San Antonio' 'Toronto' 'Utah' 'Washington']
['Atlanta Hawks' 'Boston Celtics' 'Charlotte Bobcats' 'Chicago Bulls'
 'Cleveland Cavaliers' 'Dallas Mavericks' 'Denver Nuggets'
 'Detroit Pistons' 'Golden State Warriors' 'Houston Rockets'
 'Indiana Pacers' 'Los Angeles Clippers' 'Los Angeles Lakers'
 'Memphis Grizzlies' 'Miami Heat' 'Milwaukee Bucks'
 'Minnesota Timberwolves' 'New Jersey Nets' 'New Orleans Hornets'
 'New York Knicks' 'Oklahoma City Thunder' 'Orlando Magic'
 'Philadelphia 76ers' 'Phoenix Suns' 'Portland Trail Blazers'
 'Sacramento Kings' 'San Antonio Spurs' 'Toronto Raptors' 'Utah Jazz'
 'Washington Wizards']

In [20]:
# Renmae the all instances of 'New Jersey Nets' to the 'Brooklyn Nets' in the nba_records DataFrame
nba_records = nba_records.replace('New Jersey Nets','Brooklyn Nets')
nba_records = nba_records.sort_values(by='Team')
nba_records.reset_index(drop=True,inplace=True)
nba_records.head()

   Season Start  Season End           Team  GP   W   L   WIN%
0          2016        2017  Atlanta Hawks  82  43  39  0.524
1          2015        2016  Atlanta Hawks  82  48  34  0.585
2          2014        2015  Atlanta Hawks  82  60  22  0.732
3          2008        2009  Atlanta Hawks  82  47  35  0.573
4          2013        2014  Atlanta Hawks  82  38  44  0.463

In [21]:
# Extracting the 'Team' format from nba_salaries dataframe
salary_team = nba_salaries.groupby('Season Start')['Team'].unique()
# Extracting the 'Team' format from nba_records dataframe
record_team = nba_records.groupby('Season Start')['Team'].unique()
#print(record_team[2008])
print(salary_team[2008])
print(record_team[2008])

['Atlanta' 'Boston' 'Brooklyn' 'Charlotte' 'Chicago' 'Cleveland' 'Dallas'
 'Denver' 'Detroit' 'Golden State' 'Houston' 'Indiana' 'LA Clippers'
 'LA Lakers' 'Memphis' 'Miami' 'Milwaukee' 'Minnesota' 'New Orleans'
 'New York' 'Oklahoma City' 'Orlando' 'Philadelphia' 'Phoenix' 'Portland'
 'Sacramento' 'San Antonio' 'Toronto' 'Utah' 'Washington']
['Atlanta Hawks' 'Boston Celtics' 'Brooklyn Nets' 'Charlotte Bobcats'
 'Chicago Bulls' 'Cleveland Cavaliers' 'Dallas Mavericks' 'Denver Nuggets'
 'Detroit Pistons' 'Golden State Warriors' 'Houston Rockets'
 'Indiana Pacers' 'Los Angeles Clippers' 'Los Angeles Lakers'
 'Memphis Grizzlies' 'Miami Heat' 'Milwaukee Bucks'
 'Minnesota Timberwolves' 'New Orleans Hornets' 'New York Knicks'
 'Oklahoma City Thunder' 'Orlando Magic' 'Philadelphia 76ers'
 'Phoenix Suns' 'Portland Trail Blazers' 'Sacramento Kings'
 'San Antonio Spurs' 'Toronto Raptors' 'Utah Jazz' 'Washington Wizards']

In [22]:
# Replace the Team names in nba_salaries with the team attributes from nba_records for consistenecy
nba_salaries['Team'] = nba_salaries['Team'].replace(salary_team[2008],record_team[2008])
nba_salaries.head()

   Season Start  Season End           Team      Salary  Salary w/ Inflation
0          2013        2014  Atlanta Hawks  58998677.0           64718790.0
1          2011        2012  Atlanta Hawks  73669912.0           83598545.0
2          2016        2017  Atlanta Hawks  96315163.0          102359377.0
3          2017        2018  Atlanta Hawks  99992696.0          104559718.0
4          2008        2009  Atlanta Hawks  68168841.0           79797863.0

In [23]:
# Reading the standardized dataframes into a csv
nba_records.to_csv(r'Cleansed_csv/nba_records.csv',index=False,header=True)
nba_salaries.to_csv(r'Cleansed_csv/nba_salaries.csv',index=False,header=True)

# Joining the DataFrames
Now that the two dataframes have been standardized in terms of their team attributes, we can now go ahead and join them.

In [24]:
# Sort nba_records dataframe by Team attribute and by Season Start year to gain a consistent order
nba_records = nba_records.sort_values(by=['Team','Season Start'])
nba_records.reset_index(drop=True,inplace=True)
nba_records

     Season Start  Season End                Team  GP   W   L   WIN%
0            2008        2009       Atlanta Hawks  82  47  35  0.573
1            2009        2010       Atlanta Hawks  82  53  29  0.646
2            2010        2011       Atlanta Hawks  82  44  38  0.537
3            2011        2012       Atlanta Hawks  66  40  26  0.606
4            2012        2013       Atlanta Hawks  82  44  38  0.537
5            2013        2014       Atlanta Hawks  82  38  44  0.463
6            2014        2015       Atlanta Hawks  82  60  22  0.732
7            2015        2016       Atlanta Hawks  82  48  34  0.585
8            2016        2017       Atlanta Hawks  82  43  39  0.524
9            2017        2018       Atlanta Hawks  82  24  58  0.293
10           2008        2009      Boston Celtics  82  62  20  0.756
11           2009        2010      Boston Celtics  82  50  32  0.610
12           2010        2011      Boston Celtics  82  56  26  0.683
13           2011        2012      Boston Celtics  66  39  27  0.591
14           2012        2013      Boston Celtics  81  41  40  0.506
15           2013        2014      Boston Celtics  82  25  57  0.305
16           2014        2015      Boston Celtics  82  40  42  0.488
17           2015        2016      Boston Celtics  82  48  34  0.585
18           2016        2017      Boston Celtics  82  53  29  0.646
19           2017        2018      Boston Celtics  82  55  27  0.671
20           2008        2009       Brooklyn Nets  82  34  48  0.415
21           2009        2010       Brooklyn Nets  82  12  70  0.146
22           2010        2011       Brooklyn Nets  82  24  58  0.293
23           2011        2012       Brooklyn Nets  66  22  44  0.333
24           2012        2013       Brooklyn Nets  82  49  33  0.598
25           2013        2014       Brooklyn Nets  82  44  38  0.537
26           2014        2015       Brooklyn Nets  82  38  44  0.463
27           2015        2016       Brooklyn Nets  82  21  61  0.256
28           2016        2017       Brooklyn Nets  82  20  62  0.244
29           2017        2018       Brooklyn Nets  82  28  54  0.341
..            ...         ...                 ...  ..  ..  ..    ...
270          2008        2009     Toronto Raptors  82  33  49  0.402
271          2009        2010     Toronto Raptors  82  40  42  0.488
272          2010        2011     Toronto Raptors  82  22  60  0.268
273          2011        2012     Toronto Raptors  66  23  43  0.348
274          2012        2013     Toronto Raptors  82  34  48  0.415
275          2013        2014     Toronto Raptors  82  48  34  0.585
276          2014        2015     Toronto Raptors  82  49  33  0.598
277          2015        2016     Toronto Raptors  82  56  26  0.683
278          2016        2017     Toronto Raptors  82  51  31  0.622
279          2017        2018     Toronto Raptors  82  59  23  0.720
280          2008        2009           Utah Jazz  82  48  34  0.585
281          2009        2010           Utah Jazz  82  53  29  0.646
282          2010        2011           Utah Jazz  82  39  43  0.476
283          2011        2012           Utah Jazz  66  36  30  0.545
284          2012        2013           Utah Jazz  82  43  39  0.524
285          2013        2014           Utah Jazz  82  25  57  0.305
286          2014        2015           Utah Jazz  82  38  44  0.463
287          2015        2016           Utah Jazz  82  40  42  0.488
288          2016        2017           Utah Jazz  82  51  31  0.622
289          2017        2018           Utah Jazz  82  48  34  0.585
290          2008        2009  Washington Wizards  82  19  63  0.232
291          2009        2010  Washington Wizards  82  26  56  0.317
292          2010        2011  Washington Wizards  82  23  59  0.280
293          2011        2012  Washington Wizards  66  20  46  0.303
294          2012        2013  Washington Wizards  82  29  53  0.354
295          2013        2014  Washington Wizards  82  44  38  0.537
296          2014        2015  Washington Wizards  82  46  36  0.561
297          2015        2016  Washington Wizards  82  41  41  0.500
298          2016        2017  Washington Wizards  82  49  33  0.598
299          2017        2018  Washington Wizards  82  43  39  0.524

[300 rows x 7 columns]

In [25]:
# Sort nba_salaries dataframe by Team attribute and by Season Start year to gain a consistent order
nba_salaries = nba_salaries.sort_values(by=['Team','Season Start'])
nba_salaries.reset_index(drop=True,inplace=True)
nba_salaries

,Season Start,Season End,Team,Salary,Salary w/ Inflation
0,2008,2009,Atlanta Hawks,68168841.0,79797863.0
1,2009,2010,Atlanta Hawks,65883642.0,78239128.0
2,2010,2011,Atlanta Hawks,71469843.0,83988250.0
3,2011,2012,Atlanta Hawks,73669912.0,83598545.0
4,2012,2013,Atlanta Hawks,66710178.0,74461791.0
5,2013,2014,Atlanta Hawks,58998677.0,64718790.0
6,2014,2015,Atlanta Hawks,58320278.0,62675759.0
7,2015,2016,Atlanta Hawks,71661760.0,76918414.0
8,2016,2017,Atlanta Hawks,96315163.0,102359377.0
9,2017,2018,Atlanta Hawks,99992696.0,104559718.0
10,2008,2009,Boston Celtics,79188973.0,92697938.0
11,2009,2010,Boston Celtics,83552174.0,99221130.0
12,2010,2011,Boston Celtics,82045867.0,96416732.0
13,2011,2012,Boston Celtics,79820530.0,90578092.0
14,2012,2013,Boston Celtics,75508399.0,84282350.0
15,2013,2014,Boston Celtics,70885503.0,77758083.0
16,2014,2015,Boston Celtics,62218516.0,66865124.0
17,2015,2016,Boston Celtics,77141919.0,82800561.0
18,2016,2017,Boston Celtics,93465326.0,99330698.0
19,2017,2018,Boston Celtics,115284776.0,120550249.0
20,2008,2009,Brooklyn Nets,62666523.0,73356896.0
21,2009,2010,Brooklyn Nets,59366715.0,70500047.0
22,2010,2011,Brooklyn Nets,58495989.0,68741936.0
23,2011,2012,Brooklyn Nets,65281235.0,74079304.0
24,2012,2013,Brooklyn Nets,87644649.0,97828818.0
25,2013,2014,Brooklyn Nets,102589967.0,112536402.0
26,2014,2015,Brooklyn Nets,87817289.0,94375678.0
27,2015,2016,Brooklyn Nets,80258302.0,86145542.0
28,2016,2017,Brooklyn Nets,82391482.0,87561919.0
29,2017,2018,Brooklyn Nets,95475397.0,99836100.0
...,...,...,...,...,...
270,2008,2009,Toronto Raptors,73446970.0,85976400.0
271,2009,2010,Toronto Raptors,67822433.0,80541508.0
272,2010,2011,Toronto Raptors,69992648.0,82252310.0
273,2011,2012,Toronto Raptors,55063049.0,62483997.0
274,2012,2013,Toronto Raptors,63708138.0,71110922.0
275,2013,2014,Toronto Raptors,71561643.0,78499777.0
276,2014,2015,Toronto Raptors,81317963.0,87390965.0
277,2015,2016,Toronto Raptors,71591189.0,76842665.0
278,2016,2017,Toronto Raptors,108599970.0,115415114.0
279,2017,2018,Toronto Raptors,116929373.0,122269961.0
280,2008,2009,Utah Jazz,65841407.0,77073389.0
281,2009,2010,Utah Jazz,71905244.0,85389991.0
282,2010,2011,Utah Jazz,75855296.0,89141843.0
283,2011,2012,Utah Jazz,58178016.0,66018776.0
284,2012,2013,Utah Jazz,65657569.0,73286873.0
285,2013,2014,Utah Jazz,56911999.0,62429802.0
286,2014,2015,Utah Jazz,60847538.0,65391761.0
287,2015,2016,Utah Jazz,63608425.0,68274335.0
288,2016,2017,Utah Jazz,80138192.0,85167228.0
289,2017,2018,Utah Jazz,105606838.0,110430283.0
290,2008,2009,Washington Wizards,70743317.0,82811524.0
291,2009,2010,Washington Wizards,73440274.0,87212893.0
292,2010,2011,Washington Wizards,58324988.0,68540981.0
293,2011,2012,Washington Wizards,55386345.0,62850863.0
294,2012,2013,Washington Wizards,59715539.0,66654386.0
295,2013,2014,Washington Wizards,64698822.0,70971580.0
296,2014,2015,Washington Wizards,73372974.0,78852628.0
297,2015,2016,Washington Wizards,85055155.0,91294262.0
298,2016,2017,Washington Wizards,104016580.0,110544093.0
299,2017,2018,Washington Wizards,123306396.0,128938245.0

In [26]:
# Concat the nba_records and nba_salaries dataframes above
salary_record = pd.concat([nba_records,nba_salaries['Salary'],nba_salaries['Salary w/ Inflation']],axis="columns")
salary_record.head()

,Season Start,Season End,Team,GP,W,L,WIN%,Salary,Salary w/ Inflation
0,2008,2009,Atlanta Hawks,82,47,35,0.573,68168841.0,79797863.0
1,2009,2010,Atlanta Hawks,82,53,29,0.646,65883642.0,78239128.0
2,2010,2011,Atlanta Hawks,82,44,38,0.537,71469843.0,83988250.0
3,2011,2012,Atlanta Hawks,66,40,26,0.606,73669912.0,83598545.0
4,2012,2013,Atlanta Hawks,82,44,38,0.537,66710178.0,74461791.0

In [27]:
# Read the concat dataframe into a csv file
salary_record.to_csv(r'Cleansed_csv/salary_record.csv',index=False,header=True)

# Offensive Efficiency
This csv file contains offensive statistics over the past 20 years for each NBA team.

In [28]:
# Bring in Offensive Efficiency
offensive_csv = Path('Raw_Data/Offensive_Efficiency.csv')
# Read csv into a pandas Dataframe
offensive_df = pd.read_csv(offensive_csv)
offensive_df['Season Start'] = ''
offensive_df['Season End'] = ''
offensive_df.head()

,Season,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,Season Start,Season End
0,2019-20,Atlanta Hawks,111.8,40.6,90.6,44.9,12.0,36.1,33.3,18.5,23.4,79.0,9.9,,
1,2019-20,Boston Celtics,113.7,41.3,89.6,46.1,12.6,34.5,36.4,18.6,23.2,80.1,10.7,,
2,2019-20,Brooklyn Nets,111.8,40.4,90.3,44.8,13.1,38.1,34.3,17.9,24.1,74.5,10.6,,
3,2019-20,Charlotte Hornets,102.9,37.3,85.9,43.4,12.1,34.3,35.2,16.2,21.6,74.8,11.0,,
4,2019-20,Chicago Bulls,106.8,39.6,88.6,44.7,12.2,35.1,34.8,15.5,20.5,75.5,10.5,,

In [29]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
offensive_df['Season Start'] = offensive_df['Season'].str[:4]
offensive_df['Season Start'] = offensive_df['Season Start'].astype(int)
# Using the start year find the end year
offensive_df['Season End'] = offensive_df['Season Start'] +1
offensive_df.head()

,Season,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,Season Start,Season End
0,2019-20,Atlanta Hawks,111.8,40.6,90.6,44.9,12.0,36.1,33.3,18.5,23.4,79.0,9.9,2019,2020
1,2019-20,Boston Celtics,113.7,41.3,89.6,46.1,12.6,34.5,36.4,18.6,23.2,80.1,10.7,2019,2020
2,2019-20,Brooklyn Nets,111.8,40.4,90.3,44.8,13.1,38.1,34.3,17.9,24.1,74.5,10.6,2019,2020
3,2019-20,Charlotte Hornets,102.9,37.3,85.9,43.4,12.1,34.3,35.2,16.2,21.6,74.8,11.0,2019,2020
4,2019-20,Chicago Bulls,106.8,39.6,88.6,44.7,12.2,35.1,34.8,15.5,20.5,75.5,10.5,2019,2020

In [30]:
# Drop Season attribute and rearrange the DataFrame
offensive_df = offensive_df.drop(['Season'],axis=1)
offensive_df = offensive_df[['Season Start','Season End','Team','PTS','FGM','FGA','FG%','3PM','3PA','3P%','FTM',
                            'FTA','FT%','OREB']]
offensive_df.head()

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB
0,2019,2020,Atlanta Hawks,111.8,40.6,90.6,44.9,12.0,36.1,33.3,18.5,23.4,79.0,9.9
1,2019,2020,Boston Celtics,113.7,41.3,89.6,46.1,12.6,34.5,36.4,18.6,23.2,80.1,10.7
2,2019,2020,Brooklyn Nets,111.8,40.4,90.3,44.8,13.1,38.1,34.3,17.9,24.1,74.5,10.6
3,2019,2020,Charlotte Hornets,102.9,37.3,85.9,43.4,12.1,34.3,35.2,16.2,21.6,74.8,11.0
4,2019,2020,Chicago Bulls,106.8,39.6,88.6,44.7,12.2,35.1,34.8,15.5,20.5,75.5,10.5

In [31]:
# Count the Null values
offensive_df.isnull().sum()

Season Start    0
Season End      0
Team            0
PTS             0
FGM             0
FGA             0
FG%             0
3PM             0
3PA             0
3P%             0
FTM             0
FTA             0
FT%             0
OREB            0
dtype: int64

In [32]:
# Filter dataframe to be inclusive of only the 2008-09 season through the 2017-18 season
offensive_df = offensive_df[(offensive_df['Season Start'] >= 2008) & (offensive_df['Season End'] <= 2018)]
offensive_df.reset_index(drop=True,inplace=True)
offensive_df.head()

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB
0,2017,2018,Atlanta Hawks,103.4,38.2,85.5,44.6,11.2,31.0,36.0,15.8,20.2,78.5,9.1
1,2017,2018,Boston Celtics,104.0,38.3,85.1,45.0,11.5,30.4,37.7,16.0,20.7,77.1,9.4
2,2017,2018,Brooklyn Nets,106.6,38.2,86.8,44.1,12.7,35.7,35.6,17.4,22.6,77.2,9.7
3,2017,2018,Charlotte Hornets,108.2,39.0,86.7,45.0,10.0,27.2,36.9,20.2,27.0,74.7,10.1
4,2017,2018,Chicago Bulls,102.9,38.7,88.8,43.5,11.0,31.1,35.5,14.6,19.2,75.9,9.6

In [33]:
# Sort offensive_df dataframe by Team attribute and by Season Start year
offensive_df = offensive_df.sort_values(by=['Team','Season Start'])
# Reset the Index
offensive_df.reset_index(drop=True,inplace=True)
offensive_df

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB
0,2008,2009,Atlanta Hawks,98.1,36.0,78.7,45.8,7.3,19.9,36.6,18.7,25.4,73.7,10.6
1,2009,2010,Atlanta Hawks,101.7,38.8,82.9,46.8,6.4,17.7,36.0,17.7,23.3,75.9,11.8
2,2010,2011,Atlanta Hawks,95.0,36.2,78.4,46.2,6.1,17.4,35.2,16.4,21.1,77.9,9.3
3,2011,2012,Atlanta Hawks,96.6,36.8,81.0,45.4,7.5,20.2,37.0,15.5,21.0,74.0,9.9
4,2012,2013,Atlanta Hawks,98.0,37.6,81.0,46.4,8.6,23.2,37.1,14.1,19.7,71.5,9.2
5,2013,2014,Atlanta Hawks,101.0,37.3,81.6,45.8,9.4,25.8,36.3,17.0,21.7,78.1,8.7
6,2014,2015,Atlanta Hawks,102.5,38.1,81.7,46.6,10.0,26.2,38.0,16.5,21.2,77.8,8.7
7,2015,2016,Atlanta Hawks,102.8,38.6,84.4,45.8,9.9,28.4,35.0,15.6,20.0,78.3,8.3
8,2016,2017,Atlanta Hawks,103.2,38.1,84.4,45.1,8.9,26.1,34.1,18.1,24.9,72.8,10.3
9,2017,2018,Atlanta Hawks,103.4,38.2,85.5,44.6,11.2,31.0,36.0,15.8,20.2,78.5,9.1
10,2008,2009,Boston Celtics,100.9,37.5,77.2,48.6,6.6,16.5,39.7,19.4,25.3,76.5,10.6
11,2009,2010,Boston Celtics,99.2,37.1,76.8,48.3,6.1,17.5,34.8,19.0,25.5,74.6,8.7
12,2010,2011,Boston Celtics,96.5,36.9,75.8,48.6,5.0,13.6,36.5,17.8,23.1,77.0,7.8
13,2011,2012,Boston Celtics,91.8,35.5,77.1,46.0,5.5,15.0,36.7,15.4,19.8,77.8,7.7
14,2012,2013,Boston Celtics,96.5,37.0,79.7,46.5,6.1,17.2,35.8,16.3,21.0,77.6,8.1
15,2013,2014,Boston Celtics,96.2,36.5,83.9,43.5,7.0,21.1,33.3,16.2,20.8,77.7,12.0
16,2014,2015,Boston Celtics,101.4,38.9,87.9,44.3,8.0,24.6,32.7,15.4,20.5,75.4,11.1
17,2015,2016,Boston Celtics,105.7,39.2,89.2,43.9,8.7,26.1,33.5,18.5,23.5,78.8,11.6
18,2016,2017,Boston Celtics,108.0,38.6,85.1,45.4,12.0,33.4,35.9,18.7,23.2,80.7,9.1
19,2017,2018,Boston Celtics,104.0,38.3,85.1,45.0,11.5,30.4,37.7,16.0,20.7,77.1,9.4
20,2012,2013,Brooklyn Nets,96.9,35.9,79.8,45.0,7.7,21.5,35.7,17.5,23.9,73.1,12.8
21,2013,2014,Brooklyn Nets,98.5,35.7,77.9,45.9,8.6,23.4,36.9,18.4,24.4,75.3,8.8
22,2014,2015,Brooklyn Nets,98.0,37.4,83.0,45.1,6.6,19.9,33.1,16.6,22.2,74.8,10.3
23,2015,2016,Brooklyn Nets,98.6,38.2,84.4,45.3,6.5,18.4,35.2,15.7,20.7,75.7,10.5
24,2016,2017,Brooklyn Nets,105.8,37.8,85.2,44.4,10.7,31.6,33.8,19.4,24.6,78.8,8.8
25,2017,2018,Brooklyn Nets,106.6,38.2,86.8,44.1,12.7,35.7,35.6,17.4,22.6,77.2,9.7
26,2008,2009,Charlotte Bobcats,93.6,35.0,76.8,45.5,6.0,16.3,36.6,17.7,24.0,74.0,10.8
27,2009,2010,Charlotte Bobcats,95.3,34.9,76.9,45.3,5.6,16.2,34.6,20.0,26.6,75.1,10.5
28,2010,2011,Charlotte Bobcats,93.3,35.0,77.6,45.1,4.8,14.7,32.7,18.4,24.4,75.6,10.3
29,2011,2012,Charlotte Bobcats,87.0,33.2,80.2,41.4,4.0,13.5,29.5,16.5,22.2,74.6,10.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,2008,2009,Toronto Raptors,99.0,37.2,81.4,45.8,5.8,15.7,37.2,18.7,22.7,82.4,9.8
271,2009,2010,Toronto Raptors,104.1,39.0,80.9,48.2,6.3,17.0,37.1,19.7,25.8,76.4,9.8
272,2010,2011,Toronto Raptors,99.1,38.3,82.4,46.5,4.2,13.3,31.6,18.2,24.1,75.5,11.7
273,2011,2012,Toronto Raptors,90.7,34.4,78.1,44.0,5.5,16.3,34.0,16.4,21.4,77.0,10.6
274,2012,2013,Toronto Raptors,97.2,36.3,81.5,44.6,7.0,20.3,34.3,17.6,22.3,78.8,10.6
275,2013,2014,Toronto Raptors,101.3,36.5,81.9,44.5,8.7,23.4,37.2,19.6,25.1,78.2,11.4
276,2014,2015,Toronto Raptors,104.0,37.9,83.3,45.5,8.9,25.1,35.2,19.3,24.6,78.7,10.7
277,2015,2016,Toronto Raptors,102.7,36.7,81.3,45.1,8.6,23.4,37.0,20.8,26.7,77.7,10.2
278,2016,2017,Toronto Raptors,106.9,39.2,84.4,46.4,8.8,24.3,36.3,19.7,24.7,79.6,10.6
279,2017,2018,Toronto Raptors,111.7,41.3,87.4,47.2,11.8,33.0,35.8,17.3,21.8,79.4,9.8
280,2008,2009,Utah Jazz,103.6,38.3,80.8,47.5,4.8,13.7,34.9,22.1,28.7,77.1,11.5
281,2009,2010,Utah Jazz,104.2,39.4,80.2,49.1,5.4,14.7,36.4,20.2,27.2,74.1,10.6
282,2010,2011,Utah Jazz,99.4,37.4,80.4,46.5,5.3,15.3,34.6,19.4,25.1,77.1,11.0
283,2011,2012,Utah Jazz,99.7,38.2,83.8,45.6,4.1,12.8,32.3,19.1,25.3,75.4,13.0
284,2012,2013,Utah Jazz,98.0,37.1,81.8,45.4,6.2,16.9,36.6,17.5,23.0,76.4,12.1
285,2013,2014,Utah Jazz,95.0,36.0,81.1,44.4,6.6,19.2,34.4,16.4,22.0,74.7,11.0
286,2014,2015,Utah Jazz,95.1,35.4,79.2,44.7,7.4,21.7,34.3,17.0,23.5,72.1,12.0
287,2015,2016,Utah Jazz,97.7,36.1,80.4,44.9,8.5,23.9,35.5,17.1,23.0,74.4,10.7
288,2016,2017,Utah Jazz,100.7,37.0,79.5,46.6,9.6,26.0,37.2,17.1,22.9,74.7,9.4
289,2017,2018,Utah Jazz,104.1,38.3,82.9,46.2,10.8,29.6,36.6,16.8,21.5,77.9,9.0
290,2008,2009,Washington Wizards,96.1,36.5,81.2,45.0,4.8,14.6,33.0,18.2,23.8,76.7,11.7
291,2009,2010,Washington Wizards,96.2,36.7,81.7,44.9,5.3,14.9,35.3,17.6,23.1,76.2,11.8
292,2010,2011,Washington Wizards,97.3,37.2,84.0,44.3,4.8,14.4,33.2,18.2,24.4,74.5,12.4
293,2011,2012,Washington Wizards,93.6,36.6,83.0,44.1,5.2,16.3,32.0,15.3,21.0,72.7,11.7
294,2012,2013,Washington Wizards,93.2,35.5,81.6,43.5,6.6,18.2,36.5,15.6,21.3,73.3,10.8
295,2013,2014,Washington Wizards,100.7,38.7,84.4,45.9,7.9,20.8,38.0,15.3,20.9,73.1,10.8
296,2014,2015,Washington Wizards,98.5,38.3,82.8,46.2,6.1,16.8,36.0,15.9,21.4,74.2,10.5
297,2015,2016,Washington Wizards,104.1,39.5,85.8,46.0,8.6,24.2,35.8,16.5,22.5,73.0,9.1
298,2016,2017,Washington Wizards,109.2,41.3,87.0,47.5,9.2,24.8,37.2,17.3,22.1,78.4,10.3
299,2017,2018,Washington Wizards,106.6,39.9,85.6,46.7,9.9,26.5,37.5,16.8,21.8,77.2,10.0

# Defensive Efficiency
This csv file contains defensive statistics over the past 20 years for each NBA team.

In [34]:
# Bring in Defensive Efficiency
defensive_csv = Path('Raw_Data/Defensive_Efficiency.csv')
# Read csv into a pandas Dataframe
defensive_df = pd.read_csv(defensive_csv)
defensive_df['Season Start'] = ''
defensive_df['Season End'] = ''
defensive_df.head()

,Season,Team,DREB,REB,AST,TOV,STL,BLK,BLKA,Season Start,Season End
0,2019-20,Atlanta Hawks,33.4,43.3,24.0,16.2,7.8,5.1,6.4,,
1,2019-20,Boston Celtics,35.4,46.1,23.0,13.8,8.3,5.6,5.5,,
2,2019-20,Brooklyn Nets,37.3,47.9,24.5,15.3,6.4,4.5,5.3,,
3,2019-20,Charlotte Hornets,31.8,42.8,23.8,14.6,6.6,4.1,5.0,,
4,2019-20,Chicago Bulls,31.4,41.9,23.2,15.5,10.0,4.1,5.9,,

In [35]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
defensive_df['Season Start'] = defensive_df['Season'].str[:4]
defensive_df['Season Start'] = defensive_df['Season Start'].astype(int)
# Using the start year find the end year
defensive_df['Season End'] = defensive_df['Season Start'] +1
defensive_df.head()

,Season,Team,DREB,REB,AST,TOV,STL,BLK,BLKA,Season Start,Season End
0,2019-20,Atlanta Hawks,33.4,43.3,24.0,16.2,7.8,5.1,6.4,2019,2020
1,2019-20,Boston Celtics,35.4,46.1,23.0,13.8,8.3,5.6,5.5,2019,2020
2,2019-20,Brooklyn Nets,37.3,47.9,24.5,15.3,6.4,4.5,5.3,2019,2020
3,2019-20,Charlotte Hornets,31.8,42.8,23.8,14.6,6.6,4.1,5.0,2019,2020
4,2019-20,Chicago Bulls,31.4,41.9,23.2,15.5,10.0,4.1,5.9,2019,2020

In [36]:
# Drop Season attribute and rearrange the DataFrame
defensive_df = defensive_df.drop(['Season'],axis=1)
defensive_df = defensive_df[['Season Start','Season End','Team','DREB','REB','AST','TOV','STL','BLK','BLKA']]
defensive_df.head()

,Season Start,Season End,Team,DREB,REB,AST,TOV,STL,BLK,BLKA
0,2019,2020,Atlanta Hawks,33.4,43.3,24.0,16.2,7.8,5.1,6.4
1,2019,2020,Boston Celtics,35.4,46.1,23.0,13.8,8.3,5.6,5.5
2,2019,2020,Brooklyn Nets,37.3,47.9,24.5,15.3,6.4,4.5,5.3
3,2019,2020,Charlotte Hornets,31.8,42.8,23.8,14.6,6.6,4.1,5.0
4,2019,2020,Chicago Bulls,31.4,41.9,23.2,15.5,10.0,4.1,5.9

In [37]:
# Count the Null values
defensive_df.isnull().sum()

Season Start    0
Season End      0
Team            0
DREB            0
REB             0
AST             0
TOV             0
STL             0
BLK             0
BLKA            0
dtype: int64

In [38]:
# Filter dataframe to be inclusive of only the 2008-09 season through the 2017-18 season
defensive_df = defensive_df[(defensive_df['Season Start'] >= 2008) & (defensive_df['Season End'] <= 2018)]
defensive_df.reset_index(drop=True,inplace=True)
defensive_df.head()

,Season Start,Season End,Team,DREB,REB,AST,TOV,STL,BLK,BLKA
0,2017,2018,Atlanta Hawks,32.8,41.9,23.7,15.5,7.8,4.2,5.5
1,2017,2018,Boston Celtics,35.1,44.5,22.5,14.0,7.4,4.5,4.4
2,2017,2018,Brooklyn Nets,34.8,44.4,23.7,15.2,6.2,4.8,5.5
3,2017,2018,Charlotte Hornets,35.4,45.5,21.6,12.7,6.8,4.5,4.9
4,2017,2018,Chicago Bulls,35.0,44.7,23.5,14.0,7.6,3.5,5.2

In [39]:
# Sort offensive_df dataframe by Team attribute and by Season Start year
defensive_df = defensive_df.sort_values(by=['Team','Season Start'])
# Reset the Index
defensive_df.reset_index(drop=True,inplace=True)
defensive_df

,Season Start,Season End,Team,DREB,REB,AST,TOV,STL,BLK,BLKA
0,2008,2009,Atlanta Hawks,29.4,40.0,20.2,12.8,7.4,4.6,4.3
1,2009,2010,Atlanta Hawks,29.9,41.7,21.8,12.0,7.2,5.0,4.4
2,2010,2011,Atlanta Hawks,30.0,39.3,22.0,13.6,6.1,4.2,4.2
3,2011,2012,Atlanta Hawks,31.3,41.2,22.4,14.0,8.1,4.6,4.7
4,2012,2013,Atlanta Hawks,31.6,40.9,24.5,14.9,8.1,4.5,4.3
5,2013,2014,Atlanta Hawks,31.3,40.0,24.9,15.3,8.3,4.0,4.3
6,2014,2015,Atlanta Hawks,31.8,40.6,25.7,14.2,9.1,4.6,4.9
7,2015,2016,Atlanta Hawks,33.8,42.1,25.6,15.0,9.1,5.9,5.0
8,2016,2017,Atlanta Hawks,34.1,44.3,23.6,15.8,8.2,4.8,5.2
9,2017,2018,Atlanta Hawks,32.8,41.9,23.7,15.5,7.8,4.2,5.5
10,2008,2009,Boston Celtics,31.5,42.1,22.7,15.6,7.6,4.7,4.7
11,2009,2010,Boston Celtics,29.9,38.6,23.5,14.9,8.5,4.9,4.7
12,2010,2011,Boston Celtics,31.0,38.8,23.4,14.6,8.2,4.2,4.4
13,2011,2012,Boston Celtics,31.1,38.8,23.6,14.8,7.5,5.5,4.6
14,2012,2013,Boston Celtics,31.3,39.3,22.8,14.6,8.2,4.5,4.7
15,2013,2014,Boston Celtics,30.5,42.5,21.0,15.4,7.1,4.2,4.5
16,2014,2015,Boston Celtics,32.7,43.8,24.5,13.8,8.2,3.6,5.3
17,2015,2016,Boston Celtics,33.3,44.9,24.2,13.7,9.2,4.2,5.5
18,2016,2017,Boston Celtics,32.9,42.0,25.2,13.3,7.5,4.1,5.2
19,2017,2018,Boston Celtics,35.1,44.5,22.5,14.0,7.4,4.5,4.4
20,2012,2013,Brooklyn Nets,30.0,42.8,20.3,14.7,7.3,4.8,4.8
21,2013,2014,Brooklyn Nets,29.4,38.1,20.9,14.5,8.6,3.8,4.1
22,2014,2015,Brooklyn Nets,32.0,42.4,20.9,13.8,7.0,4.1,4.5
23,2015,2016,Brooklyn Nets,31.9,42.4,22.3,14.8,7.6,4.0,5.2
24,2016,2017,Brooklyn Nets,35.1,43.9,21.4,16.5,7.2,4.7,5.6
25,2017,2018,Brooklyn Nets,34.8,44.4,23.7,15.2,6.2,4.8,5.5
26,2008,2009,Charlotte Bobcats,28.9,39.7,21.2,15.6,7.1,4.8,6.0
27,2009,2010,Charlotte Bobcats,30.4,40.8,20.2,15.7,7.7,5.4,6.1
28,2010,2011,Charlotte Bobcats,29.8,40.1,21.1,14.5,6.4,5.3,6.0
29,2011,2012,Charlotte Bobcats,28.7,39.0,20.1,14.5,6.0,5.5,5.7
...,...,...,...,...,...,...,...,...,...,...
270,2008,2009,Toronto Raptors,30.6,40.4,22.4,13.4,6.4,4.8,4.7
271,2009,2010,Toronto Raptors,30.6,40.4,22.0,13.4,5.7,4.7,4.4
272,2010,2011,Toronto Raptors,28.6,40.3,21.9,14.7,7.1,4.3,5.6
273,2011,2012,Toronto Raptors,31.4,42.0,20.9,15.2,6.5,4.9,4.9
274,2012,2013,Toronto Raptors,29.6,40.2,21.5,13.7,7.3,4.8,4.7
275,2013,2014,Toronto Raptors,31.1,42.5,21.2,14.1,7.0,4.2,4.3
276,2014,2015,Toronto Raptors,30.8,41.5,20.7,12.9,7.5,4.4,5.0
277,2015,2016,Toronto Raptors,33.2,43.4,18.7,13.1,7.8,5.5,5.4
278,2016,2017,Toronto Raptors,32.6,43.3,18.5,12.7,8.3,4.9,4.8
279,2017,2018,Toronto Raptors,34.2,44.0,24.3,13.4,7.6,6.1,4.9
280,2008,2009,Utah Jazz,29.5,41.0,24.7,14.8,8.8,4.6,5.2
281,2009,2010,Utah Jazz,31.6,42.2,26.7,15.2,8.2,4.9,5.4
282,2010,2011,Utah Jazz,28.5,39.5,23.4,14.3,7.7,5.9,5.0
283,2011,2012,Utah Jazz,31.1,44.2,21.8,14.2,8.3,5.8,5.7
284,2012,2013,Utah Jazz,30.0,42.0,22.7,14.8,8.4,6.3,5.9
285,2013,2014,Utah Jazz,30.2,41.2,20.3,14.6,7.0,4.5,4.9
286,2014,2015,Utah Jazz,31.9,44.0,19.9,15.3,7.6,6.0,4.7
287,2015,2016,Utah Jazz,32.5,43.2,19.0,14.9,7.7,5.2,4.7
288,2016,2017,Utah Jazz,33.8,43.2,20.1,13.6,6.7,5.0,3.8
289,2017,2018,Utah Jazz,34.2,43.3,22.4,14.7,8.6,5.1,4.6
290,2008,2009,Washington Wizards,28.4,40.1,20.0,14.0,7.5,4.5,5.3
291,2009,2010,Washington Wizards,30.0,41.8,19.0,14.9,6.0,5.1,5.1
292,2010,2011,Washington Wizards,29.0,41.3,19.4,15.3,8.1,6.1,5.0
293,2011,2012,Washington Wizards,29.9,41.7,19.1,15.3,8.0,6.3,4.5
294,2012,2013,Washington Wizards,32.3,43.2,21.6,15.1,7.3,4.6,4.4
295,2013,2014,Washington Wizards,31.4,42.2,23.3,14.7,8.1,4.6,3.9
296,2014,2015,Washington Wizards,34.2,44.7,24.0,15.0,7.3,4.6,4.3
297,2015,2016,Washington Wizards,32.8,41.8,24.5,14.5,8.6,3.9,4.3
298,2016,2017,Washington Wizards,32.6,42.9,23.9,14.2,8.5,4.1,4.6
299,2017,2018,Washington Wizards,33.1,43.1,25.2,14.6,7.9,4.3,4.7

# Join the Offensive and Defensive DataFrame

In [40]:
# Concat the nba_records and nba_salaries dataframes above
offensive_defensive_df = pd.concat([offensive_df,defensive_df['DREB'],defensive_df['REB'],defensive_df['AST'],defensive_df['TOV'],defensive_df['STL'],defensive_df['BLK'],defensive_df['BLKA']],axis="columns")
offensive_defensive_df.head()

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA
0,2008,2009,Atlanta Hawks,98.1,36.0,78.7,45.8,7.3,19.9,36.6,...,25.4,73.7,10.6,29.4,40.0,20.2,12.8,7.4,4.6,4.3
1,2009,2010,Atlanta Hawks,101.7,38.8,82.9,46.8,6.4,17.7,36.0,...,23.3,75.9,11.8,29.9,41.7,21.8,12.0,7.2,5.0,4.4
2,2010,2011,Atlanta Hawks,95.0,36.2,78.4,46.2,6.1,17.4,35.2,...,21.1,77.9,9.3,30.0,39.3,22.0,13.6,6.1,4.2,4.2
3,2011,2012,Atlanta Hawks,96.6,36.8,81.0,45.4,7.5,20.2,37.0,...,21.0,74.0,9.9,31.3,41.2,22.4,14.0,8.1,4.6,4.7
4,2012,2013,Atlanta Hawks,98.0,37.6,81.0,46.4,8.6,23.2,37.1,...,19.7,71.5,9.2,31.6,40.9,24.5,14.9,8.1,4.5,4.3

In [41]:
# Read the combined offensive and defensive dataframe into a csv
offensive_defensive_df.to_csv(r'Cleansed_csv/offensive_defensive.csv',index=False,header=True)

# Join the Combined Offensive & Defensive DataFrame with the Salary DataFrame

In [42]:
salary_game_stats = pd.concat([offensive_defensive_df,nba_salaries['Salary'],nba_salaries['Salary w/ Inflation']],axis='columns')
salary_game_stats.head()

,Season Start,Season End,Team,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,Salary,Salary w/ Inflation
0,2008,2009,Atlanta Hawks,98.1,36.0,78.7,45.8,7.3,19.9,36.6,...,10.6,29.4,40.0,20.2,12.8,7.4,4.6,4.3,68168841.0,79797863.0
1,2009,2010,Atlanta Hawks,101.7,38.8,82.9,46.8,6.4,17.7,36.0,...,11.8,29.9,41.7,21.8,12.0,7.2,5.0,4.4,65883642.0,78239128.0
2,2010,2011,Atlanta Hawks,95.0,36.2,78.4,46.2,6.1,17.4,35.2,...,9.3,30.0,39.3,22.0,13.6,6.1,4.2,4.2,71469843.0,83988250.0
3,2011,2012,Atlanta Hawks,96.6,36.8,81.0,45.4,7.5,20.2,37.0,...,9.9,31.3,41.2,22.4,14.0,8.1,4.6,4.7,73669912.0,83598545.0
4,2012,2013,Atlanta Hawks,98.0,37.6,81.0,46.4,8.6,23.2,37.1,...,9.2,31.6,40.9,24.5,14.9,8.1,4.5,4.3,66710178.0,74461791.0

In [43]:
# Read the salary and game statistics dataframe into a csv
salary_game_stats.to_csv(r'Cleansed_csv/salary_game_stats.csv',index=False,header=True)

# Player Information
This csv file contains individual player information for those in the NBA since 1996.

In [44]:
# Bring in player information
player_csv = Path('Raw_Data/all_seasons_player_data.csv')
# Read csv into a pandas Dataframe
player_df = pd.read_csv(player_csv)
player_df = player_df.drop(['Unnamed: 0'],axis=1)
player_df['Season Start'] = ''
player_df['Season End'] = ''
player_df.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,Season Start,Season End
0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,...,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97,,
1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,...,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97,,
2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,...,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97,,
3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,...,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97,,
4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,...,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97,,

In [45]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
player_df['Season Start'] = player_df['season'].str[:4]
player_df['Season Start'] = player_df['Season Start'].astype(int)
# Using the start year find the end year
player_df['Season End'] = player_df['Season Start'] +1
player_df.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,Season Start,Season End
0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,...,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97,1996,1997
1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,...,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97,1996,1997
2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,...,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97,1996,1997
3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,...,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97,1996,1997
4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,...,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97,1996,1997

In [46]:
# Drop the original season attribute
player_df = player_df.drop(['season'],axis=1)
player_df.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,Season Start,Season End
0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,...,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996,1997
1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,...,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996,1997
2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,...,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996,1997
3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,...,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996,1997
4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,...,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996,1997

In [47]:
# Rearrange the columns in the dataframe
player_df = player_df[['Season Start','Season End','player_name','team_abbreviation','age','player_height','player_weight','college','country','draft_year','draft_round',
                      'draft_number','gp','pts','reb','ast','net_rating','oreb_pct','dreb_pct','usg_pct','ts_pct','ast_pct']]
player_df.head()

,Season Start,Season End,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,...,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
0,1996,1997,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,...,55,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113
1,1996,1997,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,...,15,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048
2,1996,1997,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,...,9,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148
3,1996,1997,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,...,64,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077
4,1996,1997,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,...,27,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040

In [48]:
# Count the Null Values
player_df.isnull().sum()

Season Start         0
Season End           0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
dtype: int64

In [49]:
# Filter dataframe to be inclusive of only the 2008-09 season through the 2017-18 season
player_df = player_df[(player_df['Season Start'] >= 2008) & (player_df['Season End'] <= 2018)]
player_df.reset_index(drop=True,inplace=True)
player_df.head()

,Season Start,Season End,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,...,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
0,2008,2009,Lindsey Hunter,CHI,38.0,187.96,88.45044,Jackson State,USA,1993,...,28,2.6,0.4,1.3,-9.8,0.008,0.049,0.177,0.433,0.245
1,2008,2009,Fred Jones,LAC,30.0,187.96,102.05820,Oregon,USA,2002,...,52,7.3,2.4,3.6,-8.6,0.017,0.082,0.129,0.536,0.189
2,2008,2009,Francisco Garcia,SAC,27.0,200.66,88.45044,Louisville,Dominican Republic,2005,...,65,12.7,3.4,2.3,-11.0,0.032,0.096,0.193,0.554,0.132
3,2008,2009,Francisco Elson,MIL,33.0,213.36,106.59412,California,Netherlands,1999,...,59,3.4,3.9,0.5,-3.7,0.114,0.169,0.107,0.537,0.049
4,2008,2009,Flip Murray,ATL,29.0,190.50,90.71840,Shaw,USA,2002,...,80,12.2,2.1,2.0,6.1,0.013,0.087,0.242,0.543,0.141

# Find the Total Height for the Teams Historically

In [50]:
# Filter player_df
team_height = player_df[['Season Start','Season End','team_abbreviation','player_height']]
team_height = team_height.sort_values(by=['team_abbreviation','Season Start'])
team_height.head()

     Season Start  Season End team_abbreviation  player_height
4            2008        2009               ATL         190.50
167          2008        2009               ATL         190.50
171          2008        2009               ATL         208.28
203          2008        2009               ATL         200.66
255          2008        2009               ATL         205.74

In [51]:
team_height = team_height.groupby(['Season Start','Season End','team_abbreviation']).sum()
team_height = team_height.reset_index()
team_height

     Season Start  Season End team_abbreviation  player_height
0            2008        2009               ATL        2989.58
1            2008        2009               BOS        2981.96
2            2008        2009               CHA        3423.92
3            2008        2009               CHI        2606.04
4            2008        2009               CLE        3235.96
5            2008        2009               DAL        3017.52
6            2008        2009               DEN        2611.12
7            2008        2009               DET        2608.58
8            2008        2009               GSW        3195.32
9            2008        2009               HOU        3035.30
10           2008        2009               IND        2832.10
11           2008        2009               LAC        3213.10
12           2008        2009               LAL        3048.00
13           2008        2009               MEM        2438.40
14           2008        2009               MIA        3014.98
15           2008        2009               MIL        2999.74
16           2008        2009               MIN        3007.36
17           2008        2009               NJN        2827.02
18           2008        2009               NOH        2842.26
19           2008        2009               NYK        3459.48
20           2008        2009               OKC        3218.18
21           2008        2009               ORL        2788.92
22           2008        2009               PHI        2600.96
23           2008        2009               PHX        2809.24
24           2008        2009               POR        2839.72
25           2008        2009               SAC        2814.32
26           2008        2009               SAS        3787.14
27           2008        2009               TOR        3228.34
28           2008        2009               UTA        3020.06
29           2008        2009               WAS        3037.84
..            ...         ...               ...            ...
270          2017        2018               ATL        3794.76
271          2017        2018               BKN        3619.50
272          2017        2018               BOS        3771.90
273          2017        2018               CHA        3418.84
274          2017        2018               CHI        3804.92
275          2017        2018               CLE        3228.34
276          2017        2018               DAL        4249.42
277          2017        2018               DEN        3416.30
278          2017        2018               DET        3553.46
279          2017        2018               GSW        3454.40
280          2017        2018               HOU        3797.30
281          2017        2018               IND        3810.00
282          2017        2018               LAC        3792.22
283          2017        2018               LAL        4023.36
284          2017        2018               MEM        4196.08
285          2017        2018               MIA        3589.02
286          2017        2018               MIL        3820.16
287          2017        2018               MIN        3009.90
288          2017        2018               NOP        3573.78
289          2017        2018               NYK        3830.32
290          2017        2018               OKC        3622.04
291          2017        2018               ORL        3421.38
292          2017        2018               PHI        3789.68
293          2017        2018               PHX        3596.64
294          2017        2018               POR        3042.92
295          2017        2018               SAC        3220.72
296          2017        2018               SAS        3586.48
297          2017        2018               TOR        3208.02
298          2017        2018               UTA        3987.80
299          2017        2018               WAS        3017.52

[300 rows x 4 columns]

# Combining Team Height DataFrame with the Salary DataFrame

In [52]:
# Extracting the 'Team' format from nba_salaries dataframe
salary_team = nba_salaries.groupby('Season Start')['Team'].unique()
# Extracting the 'team_abbreviation' format from nba_records dataframe
height_team = team_height.groupby('Season Start')['team_abbreviation'].unique()
#print(record_team[2008])
print(salary_team[2008])
print(height_team[2008])

['Atlanta Hawks' 'Boston Celtics' 'Brooklyn Nets' 'Charlotte Bobcats'
 'Chicago Bulls' 'Cleveland Cavaliers' 'Dallas Mavericks' 'Denver Nuggets'
 'Detroit Pistons' 'Golden State Warriors' 'Houston Rockets'
 'Indiana Pacers' 'Los Angeles Clippers' 'Los Angeles Lakers'
 'Memphis Grizzlies' 'Miami Heat' 'Milwaukee Bucks'
 'Minnesota Timberwolves' 'New Orleans Hornets' 'New York Knicks'
 'Oklahoma City Thunder' 'Orlando Magic' 'Philadelphia 76ers'
 'Phoenix Suns' 'Portland Trail Blazers' 'Sacramento Kings'
 'San Antonio Spurs' 'Toronto Raptors' 'Utah Jazz' 'Washington Wizards']
['ATL' 'BOS' 'CHA' 'CHI' 'CLE' 'DAL' 'DEN' 'DET' 'GSW' 'HOU' 'IND' 'LAC'
 'LAL' 'MEM' 'MIA' 'MIL' 'MIN' 'NJN' 'NOH' 'NYK' 'OKC' 'ORL' 'PHI' 'PHX'
 'POR' 'SAC' 'SAS' 'TOR' 'UTA' 'WAS']

In [53]:
# Renmae the all instances of 'NJN' to the 'BN' in the nba_records DataFrame to facilitate the replacement that will occur
team_height = team_height.replace('NJN','Brooklyn')
team_height = team_height.sort_values(by=['team_abbreviation','Season Start'])
team_height.reset_index(drop=True,inplace=True)
team_height.head()

   Season Start  Season End team_abbreviation  player_height
0          2008        2009               ATL        2989.58
1          2009        2010               ATL        2829.56
2          2010        2011               ATL        2844.80
3          2011        2012               ATL        3025.14
4          2012        2013               ATL        3197.86

In [54]:
# Extracting the 'Team' format from nba_salaries dataframe
salary_team = nba_salaries.groupby('Season Start')['Team'].unique()
# Extracting the 'team_abbreviation' format from nba_records dataframe
height_team = team_height.groupby('Season Start')['team_abbreviation'].unique()
#print(record_team[2008])
print(salary_team[2008])
print(height_team[2008])

['Atlanta Hawks' 'Boston Celtics' 'Brooklyn Nets' 'Charlotte Bobcats'
 'Chicago Bulls' 'Cleveland Cavaliers' 'Dallas Mavericks' 'Denver Nuggets'
 'Detroit Pistons' 'Golden State Warriors' 'Houston Rockets'
 'Indiana Pacers' 'Los Angeles Clippers' 'Los Angeles Lakers'
 'Memphis Grizzlies' 'Miami Heat' 'Milwaukee Bucks'
 'Minnesota Timberwolves' 'New Orleans Hornets' 'New York Knicks'
 'Oklahoma City Thunder' 'Orlando Magic' 'Philadelphia 76ers'
 'Phoenix Suns' 'Portland Trail Blazers' 'Sacramento Kings'
 'San Antonio Spurs' 'Toronto Raptors' 'Utah Jazz' 'Washington Wizards']
['ATL' 'BOS' 'Brooklyn' 'CHA' 'CHI' 'CLE' 'DAL' 'DEN' 'DET' 'GSW' 'HOU'
 'IND' 'LAC' 'LAL' 'MEM' 'MIA' 'MIL' 'MIN' 'NOH' 'NYK' 'OKC' 'ORL' 'PHI'
 'PHX' 'POR' 'SAC' 'SAS' 'TOR' 'UTA' 'WAS']

In [55]:
# Replace the Team names in team_height with the team attributes from nba_records
team_height['team_abbreviation'] = team_height['team_abbreviation'].replace(height_team[2008],salary_team[2008])
team_height = team_height.rename(columns={'team_abbreviation':'Team'})
team_height.head()

   Season Start  Season End           Team  player_height
0          2008        2009  Atlanta Hawks        2989.58
1          2009        2010  Atlanta Hawks        2829.56
2          2010        2011  Atlanta Hawks        2844.80
3          2011        2012  Atlanta Hawks        3025.14
4          2012        2013  Atlanta Hawks        3197.86

In [56]:
# Concat team_height and nba_salaries dataframes above
height_salaries = pd.concat([team_height,nba_salaries['Salary'],nba_salaries['Salary w/ Inflation']],axis="columns")
height_salaries.tail()

,Season Start,Season End,Team,player_height,Salary,Salary w/ Inflation
295,2013,2014,Washington Wizards,3032.76,64698822.0,70971580.0
296,2014,2015,Washington Wizards,3208.02,73372974.0,78852628.0
297,2015,2016,Washington Wizards,3411.22,85055155.0,91294262.0
298,2016,2017,Washington Wizards,3418.84,104016580.0,110544093.0
299,2017,2018,Washington Wizards,3017.52,123306396.0,128938245.0

In [57]:
# Read the height and salary dataframe into a csv
height_salaries.to_csv(r'Cleansed_csv/height_salaries.csv',index=False,header=True)

# Opponent Statistics
This csv file contains historical opponent statistics for each NBA team over the past 20 years.

In [58]:
# Bring in NBA Records CSV
opponent_csv = Path('Raw_Data/Opponent_Statistics.csv')
# Read csv into a pandas Dataframe
opponent = pd.read_csv(opponent_csv)
opponent['Season Start'] = ''
opponent['Season End'] = ''
opponent = opponent.drop(['Unnamed: 27'],axis=1)
opponent

,Season,Team,GP,W,L,MIN,OPP_FGM,OPP_FGA,OPP_FG%,OPP_3PM,...,OPP_TOV,OPP_STL,OPP_BLK,OPP_BLKA,OPP_PF,OPP_PFD,OPP_PTS,+/-,Season Start,Season End
0,2019-20,Milwaukee Bucks,73.0,56.0,17.0,48.2,38.9,94.0,41.4,14.0,...,14.1,7.4,4.5,5.9,21.7,19.6,108.6,-10.1,,
1,2019-20,Toronto Raptors,72.0,53.0,19.0,48.3,37.8,88.3,42.8,13.1,...,16.8,7.2,5.5,5.0,20.4,21.7,106.5,-6.2,,
2,2019-20,Los Angeles Lakers,71.0,52.0,19.0,48.1,39.1,87.1,44.8,11.6,...,15.9,8.2,3.7,6.6,21.7,20.7,107.6,-5.8,,
3,2019-20,LA Clippers,72.0,49.0,23.0,48.3,39.5,90.2,43.8,12.3,...,14.1,7.5,4.7,4.7,22.9,22.1,109.9,-6.4,,
4,2019-20,Boston Celtics,72.0,48.0,24.0,48.4,38.4,87.1,44.1,11.8,...,15.2,7.1,5.5,5.6,20.7,21.6,107.3,-6.3,,
5,2019-20,Denver Nuggets,73.0,46.0,27.0,48.6,40.0,86.5,46.3,12.1,...,14.3,7.2,4.4,4.6,20.5,20.3,109.2,-2.1,,
6,2019-20,Indiana Pacers,73.0,45.0,28.0,48.3,39.5,88.5,44.6,11.5,...,14.7,6.9,4.6,5.2,18.8,19.8,107.5,-2.0,,
7,2019-20,Houston Rockets,72.0,44.0,28.0,48.3,42.3,91.5,46.2,12.2,...,16.2,8.0,4.9,5.2,21.0,21.8,114.8,-3.0,,
8,2019-20,Miami Heat,73.0,44.0,29.0,48.6,38.8,86.7,44.8,13.1,...,14.0,7.5,4.1,4.5,21.7,20.6,109.1,-2.9,,
9,2019-20,Oklahoma City Thunder,72.0,44.0,28.0,48.4,40.8,89.6,45.5,11.3,...,14.2,7.0,4.0,4.9,22.8,19.3,108.4,-2.0,,
10,2019-20,Utah Jazz,72.0,44.0,28.0,48.2,40.7,89.1,45.7,11.0,...,12.3,7.9,4.6,4.1,20.8,20.4,108.8,-2.5,,
11,2019-20,Dallas Mavericks,75.0,43.0,32.0,48.5,41.9,91.6,45.8,12.3,...,11.9,7.0,4.1,4.8,21.3,19.5,112.1,-4.9,,
12,2019-20,Philadelphia 76ers,73.0,43.0,30.0,48.2,39.8,86.0,46.3,10.4,...,13.8,7.0,4.0,5.3,20.5,20.9,108.4,-2.4,,
13,2019-20,Brooklyn Nets,72.0,35.0,37.0,48.6,41.4,92.9,44.6,12.2,...,12.8,7.7,5.3,4.5,21.1,21.0,112.3,0.6,,
14,2019-20,Portland Trail Blazers,74.0,35.0,39.0,48.2,41.8,91.6,45.6,13.6,...,12.9,6.8,4.9,6.1,20.1,21.7,116.1,1.1,,
15,2019-20,Memphis Grizzlies,73.0,34.0,39.0,48.1,40.6,90.3,45.0,12.9,...,14.8,8.0,5.3,5.5,20.2,21.2,113.7,1.1,,
16,2019-20,Phoenix Suns,73.0,34.0,39.0,48.2,41.2,87.4,47.2,11.6,...,15.6,7.9,5.5,4.0,22.6,22.0,113.4,-0.2,,
17,2019-20,Orlando Magic,73.0,33.0,40.0,48.1,40.4,86.9,46.5,12.2,...,14.6,7.0,4.6,5.4,19.5,18.3,108.3,1.0,,
18,2019-20,San Antonio Spurs,71.0,32.0,39.0,48.5,42.3,90.2,46.9,13.1,...,13.2,6.8,4.3,5.5,20.1,19.4,115.2,1.1,,
19,2019-20,Sacramento Kings,72.0,31.0,41.0,48.5,40.3,85.5,47.1,12.4,...,15.2,7.7,4.2,4.1,19.5,22.2,112.1,2.0,,
20,2019-20,New Orleans Pelicans,72.0,30.0,42.0,48.4,42.7,91.8,46.5,12.2,...,14.5,8.5,4.8,5.0,21.1,21.2,117.1,1.3,,
21,2019-20,Washington Wizards,72.0,25.0,47.0,48.2,43.1,88.4,48.8,12.4,...,16.2,7.5,5.0,4.3,22.2,22.7,119.1,4.7,,
22,2019-20,Charlotte Hornets,65.0,23.0,42.0,48.5,41.7,87.5,47.6,12.4,...,14.4,8.0,5.0,4.1,20.6,18.8,109.6,6.8,,
23,2019-20,Chicago Bulls,65.0,22.0,43.0,48.2,39.5,82.5,47.9,11.2,...,18.3,8.2,5.9,4.1,19.2,21.8,109.9,3.1,,
24,2019-20,New York Knicks,66.0,21.0,45.0,48.4,39.9,86.0,46.3,13.3,...,13.7,7.2,5.0,4.7,19.8,22.2,112.3,6.5,,
25,2019-20,Atlanta Hawks,67.0,20.0,47.0,48.6,43.3,90.7,47.8,11.9,...,15.0,9.0,6.4,5.1,21.0,23.1,119.7,8.0,,
26,2019-20,Detroit Pistons,66.0,20.0,46.0,48.4,41.9,87.3,48.0,10.7,...,14.0,8.2,5.6,4.5,19.8,19.7,110.8,3.6,,
27,2019-20,Cleveland Cavaliers,65.0,19.0,46.0,48.4,43.9,89.4,49.1,12.4,...,13.0,9.4,6.3,3.2,19.6,18.3,114.8,7.9,,
28,2019-20,Minnesota Timberwolves,64.0,19.0,45.0,48.6,43.1,90.4,47.7,11.6,...,15.5,7.8,5.5,5.7,21.6,21.4,117.5,4.3,,
29,2019-20,Golden State Warriors,65.0,15.0,50.0,48.4,42.2,88.6,47.6,13.5,...,15.6,8.2,4.9,4.6,20.1,20.1,115.0,8.7,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,1999-00,Charlotte Hornets,82.0,49.0,33.0,48.2,37.2,83.1,44.8,5.0,...,15.8,7.4,5.1,5.9,25.3,20.4,95.8,-2.7,,
599,1999-00,Chicago Bulls,82.0,17.0,65.0,48.3,35.6,78.0,45.6,4.4,...,15.2,10.4,5.6,4.7,24.0,23.3,94.2,9.4,,
600,1999-00,Cleveland Cavaliers,82.0,32.0,50.0,48.4,36.4,82.1,44.3,5.1,...,16.9,8.0,6.1,4.4,25.1,27.1,100.5,3.5,,
601,1999-00,Dallas Mavericks,82.0,40.0,42.0,48.1,39.3,86.0,45.7,5.2,...,16.1,7.4,5.1,5.1,22.1,21.6,102.0,0.6,,
602,1999-00,Denver Nuggets,82.0,35.0,47.0,48.4,38.2,84.8,45.0,4.9,...,14.4,7.5,5.6,7.5,23.6,23.9,101.1,2.1,,
603,1999-00,Detroit Pistons,82.0,42.0,40.0,48.4,38.0,81.8,46.5,5.6,...,17.1,8.0,4.8,3.3,27.1,24.5,102.0,-1.4,,
604,1999-00,Golden State Warriors,82.0,19.0,63.0,48.2,38.6,82.6,46.7,5.2,...,16.3,8.4,6.0,4.3,23.0,24.9,103.8,8.3,,
605,1999-00,Houston Rockets,82.0,34.0,48.0,48.4,39.3,86.3,45.6,4.3,...,13.7,9.0,5.3,5.3,22.4,20.3,100.3,0.9,,
606,1999-00,Indiana Pacers,82.0,56.0,26.0,48.1,38.0,85.1,44.6,4.0,...,13.7,7.4,3.9,5.1,23.3,21.8,96.7,-4.6,,
607,1999-00,Los Angeles Clippers,82.0,15.0,67.0,48.1,40.0,83.9,47.7,5.1,...,14.3,7.6,4.6,6.0,21.1,22.2,103.5,11.5,,
608,1999-00,Los Angeles Lakers,82.0,67.0,15.0,48.3,34.6,83.2,41.6,4.5,...,14.6,7.6,4.2,6.5,25.6,22.5,92.3,-8.5,,
609,1999-00,Miami Heat,82.0,52.0,30.0,48.4,33.9,80.4,42.2,5.0,...,14.0,7.6,4.4,6.4,21.9,23.7,91.3,-3.1,,
610,1999-00,Milwaukee Bucks,82.0,42.0,40.0,48.4,37.0,81.0,45.7,6.5,...,15.9,7.8,4.1,4.6,22.8,24.6,101.0,-0.2,,
611,1999-00,Minnesota Timberwolves,82.0,50.0,32.0,48.5,35.7,80.2,44.5,4.6,...,15.0,7.2,4.2,5.4,20.5,23.3,96.0,-2.5,,
612,1999-00,New Jersey Nets,82.0,31.0,51.0,48.4,38.1,82.2,46.4,4.5,...,16.7,6.9,5.7,4.8,22.8,23.3,99.0,1.0,,
613,1999-00,New York Knicks,82.0,50.0,32.0,48.4,33.1,78.0,42.4,4.9,...,14.2,7.4,4.3,4.3,21.9,24.2,90.7,-1.5,,
614,1999-00,Orlando Magic,82.0,41.0,41.0,48.2,37.5,84.4,44.5,5.3,...,18.1,8.8,5.8,5.7,24.5,24.0,99.4,-0.7,,
615,1999-00,Philadelphia 76ers,82.0,49.0,33.0,48.4,35.0,80.4,43.5,5.1,...,17.6,7.7,6.5,4.7,24.1,23.6,93.4,-1.3,,
616,1999-00,Phoenix Suns,82.0,53.0,29.0,48.3,34.5,81.3,42.4,4.9,...,17.3,8.9,5.2,5.3,21.9,24.1,93.7,-5.2,,
617,1999-00,Portland Trail Blazers,82.0,59.0,23.0,48.2,34.5,80.0,43.1,4.8,...,14.5,8.0,4.3,4.8,22.8,22.7,91.0,-6.4,,
618,1999-00,Sacramento Kings,82.0,44.0,38.0,48.3,39.9,88.3,45.2,4.8,...,17.5,9.2,4.9,4.6,23.7,21.1,102.0,-2.9,,
619,1999-00,San Antonio Spurs,82.0,53.0,29.0,48.4,35.2,82.7,42.5,4.3,...,14.4,7.9,5.2,6.7,23.1,20.9,90.2,-5.9,,
620,1999-00,Seattle SuperSonics,82.0,45.0,37.0,48.2,38.2,84.6,45.1,5.4,...,15.3,7.2,5.3,4.2,22.4,21.7,98.1,-1.0,,
621,1999-00,Toronto Raptors,82.0,45.0,37.0,48.2,36.6,80.7,45.4,4.2,...,15.2,6.8,5.3,6.6,22.9,24.3,97.3,0.2,,
622,1999-00,Utah Jazz,82.0,55.0,27.0,48.2,33.9,76.1,44.6,4.7,...,15.5,7.2,5.0,5.4,24.7,24.5,92.0,-4.5,,
623,1999-00,Vancouver Grizzlies,82.0,22.0,60.0,48.4,38.2,80.6,47.4,4.4,...,15.0,8.8,6.3,4.2,23.3,22.9,99.5,5.6,,
624,1999-00,Washington Wizards,82.0,29.0,53.0,48.3,36.6,79.8,45.9,4.8,...,14.9,8.4,6.1,4.7,24.0,26.2,99.9,3.3,,
625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,

In [59]:
# Count the null values
opponent.isnull().sum()

Season          3
Team            3
GP              3
W               3
L               3
MIN             3
OPP_FGM         3
OPP_FGA         3
OPP_FG%         3
OPP_3PM         3
OPP_3PA         3
OPP_3P%         3
OPP_FTM         3
OPP_FTA         3
OPP_FT%         3
OPP_OREB        3
OPP_BREB        3
OPP_REB         3
OPP_AST         3
OPP_TOV         3
OPP_STL         3
OPP_BLK         3
OPP_BLKA        3
OPP_PF          3
OPP_PFD         3
OPP_PTS         3
+/-             3
Season Start    0
Season End      0
dtype: int64

In [60]:
# Drop the null values
opponent = opponent.dropna()
opponent.isnull().sum()

Season          0
Team            0
GP              0
W               0
L               0
MIN             0
OPP_FGM         0
OPP_FGA         0
OPP_FG%         0
OPP_3PM         0
OPP_3PA         0
OPP_3P%         0
OPP_FTM         0
OPP_FTA         0
OPP_FT%         0
OPP_OREB        0
OPP_BREB        0
OPP_REB         0
OPP_AST         0
OPP_TOV         0
OPP_STL         0
OPP_BLK         0
OPP_BLKA        0
OPP_PF          0
OPP_PFD         0
OPP_PTS         0
+/-             0
Season Start    0
Season End      0
dtype: int64

In [61]:
# Fill the Season Start and Season End Columns conditional on the Season column
# Extract the start from seasons and convert to an integer
opponent['Season Start'] = opponent['Season'].str[:4]
opponent['Season Start'] = opponent['Season Start'].astype(int)
# Using the start year find the end year
opponent['Season End'] = opponent['Season Start'] +1
opponent.head()

C:\Users\lwbak\.conda\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lwbak\.conda\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\lwbak\.conda\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Season,Team,GP,W,L,MIN,OPP_FGM,OPP_FGA,OPP_FG%,OPP_3PM,...,OPP_TOV,OPP_STL,OPP_BLK,OPP_BLKA,OPP_PF,OPP_PFD,OPP_PTS,+/-,Season Start,Season End
0,2019-20,Milwaukee Bucks,73.0,56.0,17.0,48.2,38.9,94.0,41.4,14.0,...,14.1,7.4,4.5,5.9,21.7,19.6,108.6,-10.1,2019,2020
1,2019-20,Toronto Raptors,72.0,53.0,19.0,48.3,37.8,88.3,42.8,13.1,...,16.8,7.2,5.5,5.0,20.4,21.7,106.5,-6.2,2019,2020
2,2019-20,Los Angeles Lakers,71.0,52.0,19.0,48.1,39.1,87.1,44.8,11.6,...,15.9,8.2,3.7,6.6,21.7,20.7,107.6,-5.8,2019,2020
3,2019-20,LA Clippers,72.0,49.0,23.0,48.3,39.5,90.2,43.8,12.3,...,14.1,7.5,4.7,4.7,22.9,22.1,109.9,-6.4,2019,2020
4,2019-20,Boston Celtics,72.0,48.0,24.0,48.4,38.4,87.1,44.1,11.8,...,15.2,7.1,5.5,5.6,20.7,21.6,107.3,-6.3,2019,2020

In [62]:
# Drop the Season column
opponent = opponent.drop(['Season'],axis=1)
opponent = opponent.sort_values(by='Team')
opponent.head()

,Team,GP,W,L,MIN,OPP_FGM,OPP_FGA,OPP_FG%,OPP_3PM,OPP_3PA,...,OPP_TOV,OPP_STL,OPP_BLK,OPP_BLKA,OPP_PF,OPP_PFD,OPP_PTS,+/-,Season Start,Season End
30,Atlanta Hawks,82.0,29.0,53.0,48.4,42.8,90.5,47.3,12.4,34.4,...,15.0,9.9,5.5,5.1,22.2,23.6,119.4,6.0,2018,2019
329,Atlanta Hawks,82.0,53.0,29.0,48.4,37.2,80.8,46.0,5.9,17.0,...,13.8,6.2,4.4,5.0,19.3,19.9,97.0,-4.7,2009,2010
595,Atlanta Hawks,82.0,25.0,57.0,48.1,35.6,80.6,44.2,4.8,13.2,...,14.8,8.5,6.3,4.7,20.7,22.7,96.2,5.2,2000,2001
596,Atlanta Hawks,82.0,28.0,54.0,48.4,39.2,86.1,45.5,4.5,12.4,...,12.2,8.0,4.9,5.6,22.3,21.0,99.7,5.4,1999,2000
89,Atlanta Hawks,82.0,24.0,58.0,48.1,40.7,86.7,46.9,11.6,30.7,...,15.1,8.7,5.5,4.2,20.3,19.6,108.8,5.5,2017,2018

In [63]:
# Filter dataframe to be inclusive of only the 2008-09 season through the 2017-18 season
opponent = opponent[(opponent['Season Start'] >= 2008) & (opponent['Season End'] <= 2018)]
opponent.reset_index(drop=True,inplace=True)
opponent.head()

,Team,GP,W,L,MIN,OPP_FGM,OPP_FGA,OPP_FG%,OPP_3PM,OPP_3PA,...,OPP_TOV,OPP_STL,OPP_BLK,OPP_BLKA,OPP_PF,OPP_PFD,OPP_PTS,+/-,Season Start,Season End
0,Atlanta Hawks,82.0,53.0,29.0,48.4,37.2,80.8,46.0,5.9,17.0,...,13.8,6.2,4.4,5.0,19.3,19.9,97.0,-4.7,2009,2010
1,Atlanta Hawks,82.0,24.0,58.0,48.1,40.7,86.7,46.9,11.6,30.7,...,15.1,8.7,5.5,4.2,20.3,19.6,108.8,5.5,2017,2018
2,Atlanta Hawks,82.0,44.0,38.0,48.1,36.7,79.7,46.0,5.6,16.6,...,12.5,6.7,4.2,4.2,18.5,19.0,95.8,0.8,2010,2011
3,Atlanta Hawks,82.0,43.0,39.0,48.5,38.8,87.3,44.4,10.9,30.5,...,15.4,9.0,5.2,4.8,21.6,18.2,104.0,0.9,2016,2017
4,Atlanta Hawks,82.0,38.0,44.0,48.4,38.6,83.5,46.2,8.0,21.9,...,15.2,8.2,4.3,4.0,20.0,19.2,101.5,0.5,2013,2014

In [64]:
# Sort opponent dataframe by Team attribute and by Season Start year to gain a consistent order
opponent = opponent.sort_values(by=['Team','Season Start'])
opponent.reset_index(drop=True,inplace=True)
opponent

,Team,GP,W,L,MIN,OPP_FGM,OPP_FGA,OPP_FG%,OPP_3PM,OPP_3PA,...,OPP_TOV,OPP_STL,OPP_BLK,OPP_BLKA,OPP_PF,OPP_PFD,OPP_PTS,+/-,Season Start,Season End
0,Atlanta Hawks,82.0,47.0,35.0,48.1,36.6,80.6,45.4,6.4,18.2,...,13.7,6.5,4.3,4.6,20.5,19.6,96.5,-1.6,2008,2009
1,Atlanta Hawks,82.0,53.0,29.0,48.4,37.2,80.8,46.0,5.9,17.0,...,13.8,6.2,4.4,5.0,19.3,19.9,97.0,-4.7,2009,2010
2,Atlanta Hawks,82.0,44.0,38.0,48.1,36.7,79.7,46.0,5.6,16.6,...,12.5,6.7,4.2,4.2,18.5,19.0,95.8,0.8,2010,2011
3,Atlanta Hawks,66.0,40.0,26.0,49.0,36.1,81.3,44.4,5.9,17.2,...,15.1,7.5,4.7,4.6,19.1,17.8,93.2,-3.4,2011,2012
4,Atlanta Hawks,82.0,44.0,38.0,48.4,37.5,83.2,45.0,7.6,19.9,...,15.2,8.4,4.3,4.5,18.8,18.0,97.5,-0.4,2012,2013
5,Atlanta Hawks,82.0,38.0,44.0,48.4,38.6,83.5,46.2,8.0,21.9,...,15.2,8.2,4.3,4.0,20.0,19.2,101.5,0.5,2013,2014
6,Atlanta Hawks,82.0,60.0,22.0,48.1,36.5,83.1,43.9,8.8,25.8,...,16.1,7.4,4.9,4.6,19.6,17.8,97.1,-5.4,2014,2015
7,Atlanta Hawks,82.0,48.0,34.0,48.4,37.1,86.1,43.2,8.3,24.5,...,16.1,8.6,5.0,5.9,18.3,19.1,99.2,-3.6,2015,2016
8,Atlanta Hawks,82.0,43.0,39.0,48.5,38.8,87.3,44.4,10.9,30.5,...,15.4,9.0,5.2,4.8,21.6,18.2,104.0,0.9,2016,2017
9,Atlanta Hawks,82.0,24.0,58.0,48.1,40.7,86.7,46.9,11.6,30.7,...,15.1,8.7,5.5,4.2,20.3,19.6,108.8,5.5,2017,2018
10,Boston Celtics,82.0,62.0,20.0,48.5,33.7,78.3,43.1,6.2,17.7,...,14.6,7.1,4.7,4.7,22.2,23.1,93.4,-7.5,2008,2009
11,Boston Celtics,82.0,50.0,32.0,48.2,35.1,77.9,45.1,5.7,16.8,...,15.6,7.0,4.7,4.9,21.7,22.1,95.6,-3.7,2009,2010
12,Boston Celtics,82.0,56.0,26.0,48.2,33.8,77.7,43.4,5.4,15.9,...,15.4,7.0,4.4,4.2,20.2,20.5,91.1,-5.4,2010,2011
13,Boston Celtics,66.0,39.0,27.0,48.3,33.4,79.7,41.9,5.2,16.9,...,15.7,7.8,4.6,5.5,18.4,19.9,89.3,-2.5,2011,2012
14,Boston Celtics,81.0,41.0,40.0,49.0,36.1,82.0,44.1,6.8,19.9,...,15.3,7.8,4.7,4.5,19.4,21.2,96.7,0.2,2012,2013
15,Boston Celtics,82.0,25.0,57.0,48.1,37.8,81.4,46.5,6.6,18.9,...,14.2,7.4,4.5,4.2,19.1,21.3,100.7,4.5,2013,2014
16,Boston Celtics,82.0,40.0,42.0,48.5,38.1,84.7,45.0,7.4,22.0,...,15.1,7.1,5.3,3.6,18.8,21.2,101.2,-0.2,2014,2015
17,Boston Celtics,82.0,48.0,34.0,48.2,37.5,85.0,44.1,7.8,23.3,...,16.4,7.6,5.5,4.2,21.0,21.9,102.5,-3.2,2015,2016
18,Boston Celtics,82.0,53.0,29.0,48.2,38.6,85.8,45.0,9.0,27.0,...,13.9,7.6,5.2,4.1,20.3,20.6,105.4,-2.6,2016,2017
19,Boston Celtics,82.0,55.0,27.0,48.3,37.4,85.0,44.0,9.4,27.7,...,14.1,7.2,4.4,4.5,19.2,19.7,100.4,-3.6,2017,2018
20,Brooklyn Nets,82.0,49.0,33.0,48.4,37.4,80.7,46.4,6.3,17.3,...,13.4,7.5,4.8,4.8,21.4,18.3,95.1,-1.8,2012,2013
21,Brooklyn Nets,82.0,44.0,38.0,48.5,36.3,79.4,45.8,8.1,22.0,...,15.8,7.4,4.1,3.8,20.8,21.7,99.5,1.0,2013,2014
22,Brooklyn Nets,82.0,38.0,44.0,48.6,38.4,84.3,45.6,8.5,23.7,...,13.9,7.8,4.5,4.1,20.0,19.3,100.9,2.9,2014,2015
23,Brooklyn Nets,82.0,21.0,61.0,48.2,40.8,85.2,47.9,9.5,25.6,...,14.2,8.8,5.2,4.0,18.4,18.0,106.0,7.4,2015,2016
24,Brooklyn Nets,82.0,20.0,62.0,48.2,41.6,90.8,45.8,10.0,27.2,...,13.3,9.5,5.6,4.7,20.4,21.0,112.5,6.7,2016,2017
25,Brooklyn Nets,82.0,28.0,54.0,48.4,41.7,89.4,46.6,9.0,24.5,...,12.4,7.7,5.5,4.8,19.7,20.6,110.3,3.7,2017,2018
26,Charlotte Bobcats,82.0,35.0,47.0,48.6,35.2,77.4,45.4,6.8,18.6,...,14.7,7.6,6.0,4.8,20.9,21.4,94.9,1.3,2008,2009
27,Charlotte Bobcats,82.0,44.0,38.0,48.5,35.7,79.7,44.8,7.0,20.7,...,15.3,7.5,6.1,5.4,22.0,19.5,93.8,-1.5,2009,2010
28,Charlotte Bobcats,82.0,34.0,48.0,48.3,36.0,79.2,45.5,7.0,19.6,...,13.2,7.3,6.0,5.3,21.1,20.0,97.3,4.0,2010,2011
29,Charlotte Bobcats,66.0,7.0,59.0,48.2,38.9,82.0,47.5,6.2,17.3,...,13.5,7.6,5.7,5.5,20.3,18.9,100.9,13.9,2011,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,Toronto Raptors,82.0,33.0,49.0,48.3,38.7,83.3,46.5,7.7,20.9,...,13.3,6.4,4.7,4.8,20.1,19.4,101.9,2.8,2008,2009
271,Toronto Raptors,82.0,40.0,42.0,48.2,39.0,83.2,46.8,7.4,20.3,...,12.7,7.1,4.4,4.7,21.1,22.2,105.9,1.8,2009,2010
272,Toronto Raptors,82.0,22.0,60.0,48.2,39.2,81.3,48.2,6.6,17.5,...,13.9,7.6,5.6,4.3,19.8,22.0,105.4,6.3,2010,2011
273,Toronto Raptors,66.0,23.0,43.0,48.4,33.8,77.7,43.5,6.1,18.5,...,13.2,7.2,4.9,4.9,18.4,23.2,94.0,3.3,2011,2012
274,Toronto Raptors,82.0,34.0,48.0,48.7,36.2,79.2,45.8,6.7,18.4,...,14.3,7.0,4.7,4.8,20.1,22.4,98.7,1.5,2012,2013
275,Toronto Raptors,82.0,48.0,34.0,48.7,36.1,80.2,45.0,6.9,19.2,...,14.9,7.3,4.3,4.2,22.1,23.0,98.0,-3.2,2013,2014
276,Toronto Raptors,82.0,49.0,33.0,48.4,38.0,82.8,45.9,7.7,22.3,...,14.4,6.9,5.0,4.4,20.3,20.9,100.9,-3.1,2014,2015
277,Toronto Raptors,82.0,56.0,26.0,48.2,36.5,82.1,44.4,8.7,23.4,...,13.3,6.5,5.4,5.5,22.0,19.6,98.2,-4.5,2015,2016
278,Toronto Raptors,82.0,51.0,31.0,48.2,37.2,82.9,44.9,9.7,27.3,...,14.6,6.7,4.8,4.9,20.3,20.8,102.6,-4.2,2016,2017
279,Toronto Raptors,82.0,59.0,23.0,48.4,38.4,85.6,44.9,8.9,25.0,...,14.3,7.2,4.9,6.1,19.9,21.7,103.9,-7.8,2017,2018
280,Utah Jazz,82.0,48.0,34.0,48.5,36.8,79.4,46.4,6.5,18.0,...,16.1,8.0,5.2,4.6,24.0,22.3,100.9,-2.6,2008,2009
281,Utah Jazz,82.0,53.0,29.0,48.2,35.5,78.9,44.9,6.7,19.0,...,15.1,7.7,5.4,4.9,22.2,22.7,98.9,-5.3,2009,2010
282,Utah Jazz,82.0,39.0,43.0,48.5,36.2,78.8,45.9,7.2,19.2,...,14.6,7.4,5.0,5.9,22.0,22.7,101.3,1.8,2010,2011
283,Utah Jazz,66.0,36.0,30.0,49.0,36.4,80.5,45.3,6.5,19.1,...,14.7,7.5,5.7,5.8,20.7,21.8,99.0,-0.6,2011,2012
284,Utah Jazz,82.0,43.0,39.0,48.5,36.6,79.9,45.8,6.8,18.5,...,14.7,7.8,5.9,6.3,20.4,21.3,98.1,0.1,2012,2013
285,Utah Jazz,82.0,25.0,57.0,48.2,38.3,81.0,47.3,7.3,19.4,...,12.6,7.5,4.9,4.5,20.4,20.7,102.2,7.2,2013,2014
286,Utah Jazz,82.0,38.0,44.0,48.1,35.8,80.3,44.6,7.4,20.4,...,13.1,8.2,4.7,6.0,19.6,19.3,94.9,-0.2,2014,2015
287,Utah Jazz,82.0,40.0,42.0,48.7,35.6,79.9,44.6,7.9,22.2,...,14.0,8.0,4.7,5.2,19.9,20.2,95.9,-1.8,2015,2016
288,Utah Jazz,82.0,51.0,31.0,48.2,36.3,82.0,44.3,8.2,22.9,...,12.1,7.3,3.8,5.0,20.2,18.8,96.8,-3.9,2016,2017
289,Utah Jazz,82.0,48.0,34.0,48.2,37.3,83.0,44.9,9.5,26.0,...,14.9,8.3,4.6,5.1,20.5,19.6,99.8,-4.3,2017,2018
290,Washington Wizards,82.0,19.0,63.0,48.1,38.6,80.1,48.2,8.2,21.2,...,13.9,7.2,5.3,4.5,20.0,20.5,103.5,7.5,2008,2009
291,Washington Wizards,82.0,26.0,56.0,48.4,37.6,81.3,46.3,6.4,17.9,...,13.6,6.9,5.1,5.1,20.5,21.4,101.0,4.8,2009,2010
292,Washington Wizards,82.0,23.0,59.0,48.6,38.7,82.2,47.1,6.8,18.3,...,15.8,7.6,5.0,6.1,20.3,22.6,104.7,7.4,2010,2011
293,Washington Wizards,66.0,20.0,46.0,48.1,36.7,81.1,45.3,6.5,18.4,...,15.2,7.9,4.5,6.3,18.7,21.3,98.4,4.8,2011,2012
294,Washington Wizards,82.0,29.0,53.0,48.4,35.9,81.7,44.0,7.1,20.5,...,14.5,7.8,4.4,4.6,19.1,20.5,95.8,2.5,2012,2013
295,Washington Wizards,82.0,44.0,38.0,48.9,37.0,80.9,45.8,7.5,21.5,...,16.0,7.7,3.9,4.6,19.5,20.4,99.4,-1.3,2013,2014
296,Washington Wizards,82.0,46.0,36.0,48.7,36.2,83.5,43.3,8.0,23.0,...,14.0,8.0,4.3,4.6,19.6,20.8,97.8,-0.7,2014,2015
297,Washington Wizards,82.0,41.0,41.0,48.2,38.7,83.8,46.2,9.0,24.2,...,16.2,8.1,4.3,3.9,20.1,20.8,104.6,0.5,2015,2016
298,Washington Wizards,82.0,49.0,33.0,48.4,39.7,85.1,46.6,9.9,27.1,...,15.3,7.4,4.6,4.1,19.8,21.3,107.4,-1.8,2016,2017
299,Washington Wizards,82.0,43.0,39.0,48.4,39.0,84.4,46.2,10.2,29.2,...,14.9,7.8,4.7,4.3,20.0,21.3,106.0,-0.6,2017,2018

In [65]:
# Filter opponent dataframe to get just the opponent points
opponent_points = opponent[['Season Start','Season End','Team','OPP_PTS']]
opponent_points.tail()

     Season Start  Season End                Team  OPP_PTS
295          2013        2014  Washington Wizards     99.4
296          2014        2015  Washington Wizards     97.8
297          2015        2016  Washington Wizards    104.6
298          2016        2017  Washington Wizards    107.4
299          2017        2018  Washington Wizards    106.0

In [66]:
# Read opponent_points dataframe into a csv
opponent_points.to_csv(r'Cleansed_csv/opponent_points.csv',index=False,header=True)

# Join the Opponent Point Data with the Salary Information

In [67]:
# Concat team_height and nba_salaries dataframes above
opponent_points_salary = pd.concat([opponent_points,nba_salaries['Salary'],nba_salaries['Salary w/ Inflation']],axis="columns")
opponent_points_salary.tail()

,Season Start,Season End,Team,OPP_PTS,Salary,Salary w/ Inflation
295,2013,2014,Washington Wizards,99.4,64698822.0,70971580.0
296,2014,2015,Washington Wizards,97.8,73372974.0,78852628.0
297,2015,2016,Washington Wizards,104.6,85055155.0,91294262.0
298,2016,2017,Washington Wizards,107.4,104016580.0,110544093.0
299,2017,2018,Washington Wizards,106.0,123306396.0,128938245.0

In [68]:
# Read combined dataframe into a csv
opponent_points_salary.to_csv(r'Cleansed_csv/opponent_points_salary.csv',index=False,header=True)

In [69]:
#Isolate data
salary_data = opponent_points_salary[["Team", "Salary w/ Inflation"]].set_index("Team")
salary_data.head()

               Salary w/ Inflation
Team
Atlanta Hawks           79797863.0
Atlanta Hawks           78239128.0
Atlanta Hawks           83988250.0
Atlanta Hawks           83598545.0
Atlanta Hawks           74461791.0

In [70]:
#Finding Average Salary over 10 seasons
salary_avg = salary_data.groupby(['Team']).sum()
salary_avg["Salary w/ Inflation"] = salary_avg["Salary w/ Inflation"].div(10)
salary_avg.head()

                   Salary w/ Inflation
Team
Atlanta Hawks               81131763.5
Boston Celtics              91050095.7
Brooklyn Nets               49704340.3
Charlotte Bobcats           52307271.6
Charlotte Hornets           27503118.2

In [71]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import json
from pathlib import Path

from opencage.geocoder import OpenCageGeocode
%matplotlib inline

In [72]:
# Load .env enviroment variables
load_dotenv()

True

In [73]:
# Set GeoCode API key
geocoder_key = os.getenv('OPEN_CAGE_API')
type(geocoder_key)

NoneType

In [74]:
# Feed the API key into the imported OpenCageGeocode
geocoder = OpenCageGeocode(geocoder_key)

In [75]:
# Bring in the Area csv file
arena_csv = Path('Raw_Data/Arena_Location.csv')
# Read csv into a pandas Dataframe
arena = pd.read_csv(arena_csv)
arena['City'] = ''
arena['State'] = ''
arena.head()

,Team Name,Arena Name,Arena Location,Seating Capacity,Opening Year,City,State
0,Atlanta Hawks,State Farm Arena,"Atlanta, Georgia","18,118",1999.0,,
1,NaN,NaN,NaN,NaN,NaN,,
2,Boston Celtics,TD Garden,"Boston, Massachusetts","18,624",1995.0,,
3,NaN,NaN,NaN,NaN,NaN,,
4,Brooklyn Nets,Barclays Center,"Brooklyn, New York","17,732",2012.0,,

In [76]:
# Drop the null values and reset the index
arena = arena.dropna()
arena.reset_index(drop=True,inplace=True)
arena.head()

,Team Name,Arena Name,Arena Location,Seating Capacity,Opening Year,City,State
0,Atlanta Hawks,State Farm Arena,"Atlanta, Georgia","18,118",1999.0,,
1,Boston Celtics,TD Garden,"Boston, Massachusetts","18,624",1995.0,,
2,Brooklyn Nets,Barclays Center,"Brooklyn, New York","17,732",2012.0,,
3,Charlotte Hornets,Spectrum Center,"Charlotte, North Carolina","19,077",2005.0,,
4,Chicago Bulls,United Center,"Chicago, Illinois","20,917",1994.0,,

In [77]:
# Breakout the Arena location to a city and a corresponding state
arena[['City','State']] = arena['Arena Location'].str.split(pat=',',expand=True)
arena.head()

,Team Name,Arena Name,Arena Location,Seating Capacity,Opening Year,City,State
0,Atlanta Hawks,State Farm Arena,"Atlanta, Georgia","18,118",1999.0,Atlanta,Georgia
1,Boston Celtics,TD Garden,"Boston, Massachusetts","18,624",1995.0,Boston,Massachusetts
2,Brooklyn Nets,Barclays Center,"Brooklyn, New York","17,732",2012.0,Brooklyn,New York
3,Charlotte Hornets,Spectrum Center,"Charlotte, North Carolina","19,077",2005.0,Charlotte,North Carolina
4,Chicago Bulls,United Center,"Chicago, Illinois","20,917",1994.0,Chicago,Illinois

In [78]:
# Iterate over each row to get the city and state
# Use the API to get the corresponding coordinates
# Create empty list
list_lat = []
list_long = []

for index, row in arena.iterrows():
    
    City = row['City']
    State = row['State']
    query = str(City)+','+str(State)
    
    results = geocoder.geocode(query)
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    
    list_lat.append(lat)
    list_long.append(long)
    
# Create new columns in the arena dataframe to store these coordinates
arena['lat'] = list_lat
arena['long'] = list_long

NotAuthorizedError: Your API key is not authorized. You may have entered it incorrectly.

In [ ]:
arena.head()

In [ ]:
# Save dataframe as a csv file
arena.to_csv(r'Cleansed_csv/arena_location.csv',index=False,header=True)

In [ ]:
arena_data = arena[["Team Name", "Arena Location", "lat", "long"]]
arena_data = arena_data.rename(columns={'Team Name': 'Team'}).set_index('Team')
arena_data.head()

In [ ]:
#Concat data in preparation for mapping
arena_salaries = pd.concat([arena_data, salary_avg], axis=1, sort=True)
arena_salaries.dropna(inplace=True)
arena_salaries.reset_index(inplace=True)
arena_salaries.rename(columns={'index': 'Team'}, inplace=True)
arena_salaries.head()

In [79]:
import folium

map = folium.Map(location=[37.0902, -95.7129], zoom_start=4, tiles="Stamen Terrain")
map

In [80]:
for idx in arena_salaries.index:
    row = arena_salaries.loc[idx]
    lat, long = row.lat, row.long
    folium.CircleMarker(
        location=[lat, long],
        clustered_marker = False,
        radius=arena_salaries.iloc[idx]['Salary w/ Inflation']/10000000,
        draggable = True,
        color="blue",
        popup = str(row["Team"]) + ", " + str(row["Salary w/ Inflation"]),
        tooltip = row["Arena Location"],
        fill_color="red"
        ).add_to(map)
map

NameError: name 'arena_salaries' is not defined