In [1]:
# Imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [111]:
# Bring in NBA Records CSV
nba_team_stats_csv = Path('../1. Data_cleaning/nba_team_stats.csv')
nba_height_salaries_csv = Path('../1. Data_cleaning/Cleansed_csv/height_salaries.csv')

# Read csv into a pandas Dataframe
nba_team_stats = pd.read_csv(nba_team_stats_csv)
nba_height_salaries = pd.read_csv(nba_height_salaries_csv)
nba_team_stats.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,10/29/2014,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,11/1/2014,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,11/5/2014,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,11/7/2014,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,11/8/2014,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29

In [99]:
# Calculate and append win/ loss margin
nba_team_stats['margin'] = nba_team_stats.TeamPoints - nba_team_stats.OpponentPoints
nba_team_stats.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls,margin
0,1,ATL,1,10/29/2014,Away,TOR,L,102,109,40,...,33,0.818,16,48,26,13,9,9,22,-7
1,2,ATL,2,11/1/2014,Home,IND,W,102,92,35,...,21,0.857,11,44,25,5,5,18,26,10
2,3,ATL,3,11/5/2014,Away,SAS,L,92,94,38,...,38,0.711,11,50,25,7,9,19,15,-2
3,4,ATL,4,11/7/2014,Away,CHO,L,119,122,43,...,27,0.741,11,51,31,6,7,19,30,-3
4,5,ATL,5,11/8/2014,Home,NYK,W,103,96,33,...,11,0.727,13,44,26,2,6,15,29,7

In [103]:
# Groupby.mean (long run average points for, points against, and winning margin by team)
team_sharpe_avg_df = nba_team_stats[[
    'Team',
    'TeamPoints',
    'OpponentPoints',
    'margin'
]].groupby(['Team']).mean()

# Preview
team_sharpe_avg_df.head()

      TeamPoints  OpponentPoints    margin
Team
ATL   102.975610      102.292683  0.682927
BOS   104.777439      102.381098  2.396341
BRK   102.259146      107.435976 -5.176829
CHI   102.057927      103.329268 -1.271341
CHO   102.667683      102.667683  0.000000

In [85]:
# Groupby.std (long run standard deviation on points for, points against, and winning margin by team)
team_sharpe_std_df = nba_team_stats[[
    'Team',
    'TeamPoints',
    'OpponentPoints',
    'margin'
]].groupby(['Team']).std()

# Preview
team_sharpe_std_df.head()

      TeamPoints  OpponentPoints     margin
Team
ATL    11.015392       12.168026  13.921473
BOS    10.354681       11.085622  11.555275
BRK    12.158355       11.796783  13.066256
CHI    11.377038       12.490295  14.012102
CHO    12.907668       11.828641  13.872508

In [87]:
# Calculate league average (margin should be zero)
league_avg = round(team_sharpe_avg_df.mean(),2)
league_avg

TeamPoints        103.65
OpponentPoints    103.65
margin              0.00
dtype: float64

In [98]:
team_sharpe_df = round ( ( team_sharpe_avg_df - league_avg ) / team_sharpe_std_df, 2 )
team_sharpe_df.drop(columns=['TeamPoints', 'OpponentPoints'], inplace=True)
team_sharpe_df.sort_values(by='margin', ascending=False, inplace=True)
team_sharpe_df.head()

      margin
Team
GSW     0.69
SAS     0.51
TOR     0.40
HOU     0.34
LAC     0.27

In [100]:
team_sharpe_bar = team_sharpe_df.hvplot.bar(
    title = 'Sharpe ratios (on points differential per game)',
    x='Team', 
    y='margin',
    ylabel='Sharpe Ratio',
    c='margin',
    cmap='coolwarm', 
    legend='top_left',
    widget_location='top_left',
    rot=90,
    height=500, 
    width=750)
team_sharpe_bar

HoloViews(Bars, widget_location='top_left')